<!DOCTYPE html>
<html lang="en">
<head>
  <title>Detalhes da Comunidade</title>
</head>
<body>
  <h1 id="community-name"></h1>
  <p id="community-bio"></p>
  <a href="/communities">Voltar</a>
  <script src="/javascript/communities.js"></script>
</body>
</html>
