<title>Consultas</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="css/consultas.css">
</head>

<body>
    <article>

        <h1>Consultas</h1>

        <section>
            <table>
                <thead>
                    <tr class="head" id="t1">
                        <th>Data<i class="fa-solid fa-arrow-down"></i></th>
                        <th>Profissional<i class="fa-solid fa-arrow-down"></i></th>
                        <th>Tipo<i class="fa-solid fa-arrow-down"></i></th>
                        <th>Convênio<i class="fa-solid fa-arrow-down"></i></th>
                        <th>Situação<i class="fa-solid fa-arrow-down"></i></th>
                    </tr>
                </thead>

                <tr>
                    <tbody>
                        <td class="inf" colspan="5">Não há dados disponíveis no momento</td>
                    </tbody>
                </tr>
            </table>
        </section>

        <h1>Pagamentos</h1>

        <section>
            <table>
                <thead>
                    <tr class="head" id="t2">
                        <th>Data da Consulta<i class="fa-solid fa-arrow-down"></i></th>
                        <th>Data do Pagamento<i class="fa-solid fa-arrow-down"></i></th>
                        <th>Psicólogo<i class="fa-solid fa-arrow-down"></i></th>
                        <th>Boleto<i class="fa-solid fa-arrow-down"></i></th>
                        <th>Valor Pago<i class="fa-solid fa-arrow-down"></i></th>
                    </tr>
                </thead>

                <tr>
                    <tbody>
                        <td class="inf" colspan="5">Não há dados disponíveis no momento</td>
                    </tbody>
                </tr>
            </table>
        </section>
    </article>
</body>

</html>