        <title>Consultas Psicólogos</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="css/consultaspsic.css">
</head>

<body>
    <article>

        <h1>Consultas</h1>

        <section>
            <table>
                <thead>
                    <tr class="head" id="t1">
                        <th id="th1">Data da Consulta</th>
                        <th>Horário da Consulta</th>
                        <th>Tipo de Consulta</th>
                        <th>Valor da Consulta</th>
                        <th id="th2">Situação</th>
                    </tr>
                </thead>

                <tr>
                    <tbody>
                        <td class="inf" colspan="5">Não há dados disponíveis no momento</td>
                    </tbody>
                </tr>
            </table>
        </section>
    </article>
</body>

</html>
    </html>
</html>