<title>perfil-1</title>
<link rel="stylesheet" href="css/edite-seu-perfil.css">
</head>

<body>

    <article>
        <h1>Edite seu perfil</h1>

        <section class="all">
            <section class="box-img">
                <section class="edit-img">
                    <section>
                        <img src="imagens/user-perfil.svg">
                    </section>
                    <section class="button">
                        <input class="submit" type="submit" id="add" value="Adicionar foto"></input>
                        <input class="submit" id="delet" type="submit" value="Deletar"></input>
                    </section>
                </section>
            </section>
            <section class="edit-info">
                <section class="ph">
                    <section class="name">
                        <label for="firstname">Primeiro Nome</label>
                        <input type="text" id="firstname" class="input" placeholder="Primeiro Nome">
                    </section>

                    <section class="tele">
                        <label for="tel">Telefone</label>
                        <input type="tel" id="tel" class="input" placeholder="(xx) xxxxx-xxxx" pattern="\(\d{2}\) \d{5}-\d{4}">
                    </section>
                </section>

            <section class="ph2">
                <section class="last">
                    <label for="lastname">Último Nome</label>
                    <input type="text" id="lastname" class="input" placeholder="Último Nome">
                </section>
                <section class="myexpr">
                    <label for="myexp">Minha Experiência</label>
                    <input type="text" id="myexp" class="input" placeholder="Minha Experiência">
                </section>
            </section>
        </section>
        </section>

    </article>

    </section>

</body>

</html>