<title>FAQ</title>
<link rel="stylesheet" href="css/faq.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <main>
    <article class="first">
            <section class="menu">
                <h1>Fale Conosco</h1>
                <section class="pesquisa">
                    <input type="search" name="duvida" id="quest" placeholder="Qual a sua dúvida?">
                    <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
                </section>
            </section>
       

            <section class="contato">
                <section class="email">
                    <div class="box"><i class="fa-regular fa-envelope"></i></div>
                    <h2>dimittens.contato@gmail.com</h2>
                    <p><strong>Disponível 24h</strong><br>Responderemos dentro de<br>dois dias úteis</p>
                </section>

                <section class="wpp">
                    <div class="box"><i class="fa-brands fa-whatsapp"></i></div>
                    <h2>+55 (11) 96077-5578</h2>
                    <p><strong>Disponível 24h</strong><br>Responderemos dentro de<br>dois dias úteis</p>
                </section>

                <section class="insta">
                    <div class="box"><i class="fa-brands fa-instagram"></i></div>
                    <h2>dimittens_</h2>
                    <p><strong>Disponível 24h</strong><br>Responderemos dentro de<br>dois dias úteis</p>
                </section>
            </section>
    </article>

    <hr>

    <article class="second">
        <section class="question">
            <h3>Perguntas Frequentes</h3>
            <section class="questions">
                <ul class="colunas">
                    <li>
                        <h4>O que é a Dimittens</h4>
                        <p>A Dimittens é uma plataforma de suporte à saúde mental, que surge como uma resposta <br>
                            dinâmica
                            às necessidades escassas de ajuda nesse âmbito</p>
                    </li>

                    <li>
                        <h4>Qual é o valor da consulta?</h4>
                        <p>Os valores de consulta são definidos pelos psicólogos e variam de acordo com cada <br>
                            profissional.</p>
                    </li>

                    <li>
                        <h4>Como é realizado o pagamento?</h4>
                        <p>O pagamento é realizado através de cartão de débito, crédito ou pix pelo Mercado Pago</p>
                    </li>

                    <li>
                        <h4>O que é a Dimittens</h4>
                        <p>A Dimittens é uma plataforma de suporte à saúde mental, que surge como uma resposta <br>
                            dinâmica
                            às necessidades escassas de ajuda nesse âmbito</p>
                    </li>

                    <li>
                        <h4>Qual é o valor da consulta?</h4>
                        <p>Os valores de consulta são definidos pelos psicólogos e variam de acordo com cada <br>
                            profissional.</p>
                    </li>

                    <li>
                        <h4>Como é realizado o pagamento?</h4>
                        <p>O pagamento é realizado através de cartão de débito, crédito ou pix pelo Mercado Pago</p>
                    </li>
                </ul>
            </section>
        </section>
    </article>
    </main>

    <footer>
        <%- include("../partial/rodape") %>
    </footer>

</body>


</html>