
    <title>Interesses</title>
    <link rel="stylesheet" href="css/interesses.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
    <main>
        <article class="container">
                <img src="imagens/interesses-fundo.svg" alt="" class="fundo">
                <section class="descriçao-imagem">
                <h1>Seguido em frente</h1>
                <p class="p-descricao">Coisas ruins acontecem e o importante é lembrar que elas passam. Aqui é um lugar para você abrir, receber apoio e seguir em frente.</p>
            </section>
            <section class="grupo-icones">
                <section class="icone-1">
                    <img src="imagens/circulo-transparente.svg" alt="" class="circulo-transparente">
                    <i class="fa-regular fa-heart" id="heart-icon"></i>
                </section>

                <section class="icone-2">
                    <img src="imagens/circulo-transparente.svg" alt="" class="circulo-transparente">
                    <i class="fa-solid fa-ban" id="ban-icon"></i>
                </section>
            </section>
        </article>

        <article class="aviso-de-conteudo">
            <section class="titulo">
                <i class="fa-solid fa-triangle-exclamation" id="aviso-icon"></i>
                <h2 class="titulo-de-aviso">Conteúdo sensível</h2>
            </section>
            <section class="box-paragrafo">
                <p class="paragrafo-aviso">Esse grupo pode incluir comentários sensíveis para algumas pessoas, como pensamentos sobre depressão e suicídio e histórias de abuso e assédio.
                    Se você ou alguém que você ama está enfrentando problemas de saúde mental, considere buscar ajuda profissional. Confira a nossa página para encontrar opções disponíveis, incluindo grupos de apoio.</p>
            </section>
            <section class="box-linha">
                <hr class="linha-separacao">
            </section>
        </article>
    </main>
</body>
</html>