    <title>Perfil Comunidade</title>
    <link rel="stylesheet" href="css/perfil-comunidade.css">
</head>
<body>
    <article>
        <section class="user-imgs">
            <section class="bckg-img"></section>
            <section class="prf-img"></section>
        </section>

        <section class="info">
            <section class="prf-name">
               <!-- <h1 class="perfil-name">Grupo Borboleta</h1> -->      
            </section>

            <section class="status">
               <!-- <h1 class="like"><strong>156K</strong> Curtidas</h1>
                <h1 class="publicacoes"><strong>452</strong> Publicações</h1>
                <h1 class="membros"><strong>83K</strong> Membros</h1>   -->      
            </section>

            <section class="join">
                <button type="button">Unir-se</button>
            </section>
        </section>

        <section class="infs">
            <section class="biography">
                <h2 class="bio">Bio</h2>
               <!-- <p> A comunidade Borboleta é um espaço dedicado ao crescimento pessoal e à transformação emocional. Inspirada na simbologia da borboleta,<br>
                     que representa a mudança, a renovação e a liberdade, nós oferecemos apoio voltado para o autoconhecimento, superação de desafios<br>
                      emocionais e o fortalecimento da autoestima. Se você está em busca de transformação e de um lugar seguro para ser ouvido, aqui é o lugar<br>
                      certo !
                </p> -->      
            </section>
            <section class="abord">
                <h2 class="abord2">Abordagens</h1>
            </section>

            <section class="abords">
                <ul>
        <!--        <li>Ansiedade</li>
                    <li>Isolamento</li>
                    <li>Borderline</li>
                    <li>Narcisismo</li>
                    <li>Indecisão</li>
                    <li>Indecisão</li>
                    <li>Indecisão</li> -->      
                </ul>
            </section>
        </section>
        <hr>
    </article>
    
</body>
</html>