
    <title>Pop Up</title>
    <link rel="stylesheet" href="css/pop-up-psicologos.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />
</head>
<body>
    <article class="box-pop-up">
        <section class="box-itens">
            <img src="imagens/profile3-psico.jpg" alt="" class="perfil-img">
            <section class="nome-crp-box">
                <section class="itens-psicologo">
                    <h1>Wanessa Pedrosa Paixão</h1>
                    <section class="especializacao-span-box">
                        <h2>Abordagem Psicanálise</h2>
                        <h2>Especialização Adultos e Crianças</h2>
                    </section>
                    <section class="box-especialidades-button">
                        <section class="pri-button-especialidades">
                            <input type="button" value="Alterações de humor">
                            <input type="button" value="Ansiedade">
                            <input type="button" value="Estresse">
                            <input type="button" value="Depressão">
                            <input type="button" value="Autoestima">
                        </section>
                        <section class="seg-button-especialidades">
                            <input type="button" value="Borderline">
                            <input type="button" value="Hipersexualidade">
                            <input type="button" value="Insônia">
                            <input type="button" value="Esquizofrenia">
                        </section>
                        <section class="hr-box">
                            <hr>
                        </section>
                    </section>
                </section>
                <section class="crp-box">
                    <h2 class="crp">CRP: 04/66988</h2>
                </section>
            </section>
        </section>



        <div class="container">
            <div class="left">
              <div class="calendar">
                <div class="month">
                  <i class="fas fa-angle-left prev"></i>
                  <div class="date">Junho 2024</div>
                  <i class="fas fa-angle-right next"></i>
                </div>
                <div class="weekdays">
                  <div>Dom</div>
                  <div>Seg</div>
                  <div>Ter</div>
                  <div>Qua</div>
                  <div>Qui</div>
                  <div>Sex</div>
                  <div>Sab</div>
                </div>
                <div class="days"></div>
                </div>
            </div>
            <div class="right">
            </div>  
        </div>

        <div class="valor-consulta">
            <h4>R$ 80,00/60 Minutos</h4>
        </div>
      
          <script src="javascript/pop-up-psicologos.js"></script>      

    </article>
</body>
</html>