
    <title>Precisa de ajuda?</title>
</head>
<link rel="stylesheet" href="css/precisa-de-ajuda-psic.css">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
/>
<body>
        <article class="alinhar-box">
            <section class="box">
                <section class="header">
                    <h1>Precisa de ajuda? Conte com a gente!</h1>
                </section>

                <section class="ajuda-itens">
                    <section class="ajuda-itens-um">
                        <section class="ajuda-itens-pri">
                            <i class="fa-solid fa-circle-user"></i>
                            <h2>Conta</h2>
                            <p>Informações sobre como resolver problemas com sua conta</p>
                        </section>
                        <section class="ajuda-itens-pri">
                            <i class="fa-solid fa-volume-high"></i>
                            <h2>Recursos e Experiências</h2>
                            <p>Visão geral e explicação sobre cada recurso da Dimittens</p>
                        </section>
                        <section class="ajuda-itens-pri">
                            <i class="fa-solid fa-gavel"></i>
                            <h2>Regras</h2>
                            <p>Informações sobre as politicas e termos de uso da Dimittens</p>
                        </section>
                    </section>    
                        <section class="ajuda-itens-dois">
                            <section class="ajuda-itens-sec">
                                <i class="fa-solid fa-shield-halved"></i>
                                <h2>Privacidade e Segurança</h2>
                                <p>Orientações sobre como gerenciar a privacidade dos seus dados e a segurança da sua conta</p>
                            </section>
                            <section class="ajuda-itens-sec">
                                <i class="fa-solid fa-book"></i>
                                <h2>Primeiros passos</h2>
                                <p>Noções basicas de como usar a Dimittens</p>
                            </section>
                            <section class="ajuda-itens-sec">
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <h2>Denúncias</h2>
                                <p>Faça suas denúncias, elogios, reclamações e sugestões com Segurança </p>
                            </section>
                        </section>
                </section>
                <section class="precisa-box">
                    <h3>Não encontou a resposta?</h3>
                    <input type="button" class="fale-conosco" value="Fale conosco">
                </section>
            </section>
        </article>
</body>
</html>