
    <title>Psicologos</title>
    <link rel="stylesheet" href="css/psicologos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
</style>
<body>

    <%- include("../partial/header-psicologo") %>


    <article class="content">
        <section class="box-roxa">

            <section class="title">
                <h2>Encontre seu(a) Psicólogo(a)!</h2>
                <h3>Comece agora seu atendimento online</h3>
            </section>

            <section class="option">

                <section class="col1">
                    <form action="" method="post">
                        <label for="esp">Especialidade</label>
                        <select name="especialidade" id="esp">
                            <option value="ansiedade">Ansiedade</option>
                            <option value="depressao">Depressão</option>
                        </select>
                    </form>

                    <form action="" method="post">
                        <label for="abord">Abordagem</label>
                        <select name="abordagem" id="abord">
                            <option value="psicanalise">Psicanálise</option>
                            <option value="psicoterapia-ju">Psicoterapia Junguiana</option>
                            <option value="terapia-analitica">Terapia Analítico-Comportamental</option>
                            <option value="gestalt-terapia">Gestalt-Terapia</option>
                            <option value="psicologia-positiva">Psicologia Positiva</option>
                            <option value="terapia-lacaniana">Terapia Lacaniana</option>
                            <option value="psicodrama">Psicodrama</option>
                            <option value="behaviorismo">Behaviorismo</option>
                            <option value="cognitivo-comportamental">Cognitivo Comportamental</option>
                            <option value="humanista">Humanista</option>
                            <option value="fenomenologia">Fenomenologia</option>
                            <option value="analitica">Analítica</option>
                            <option value="terapia-do-esquema">Terapia do Esquema</option>
                            <option value="transpessoal">Transpessoal</option>
                            <option value="acp">Abordagem Centrada na Pessoa (ACP)</option>
                            <option value="ludo-terapia">Ludo-Terapia (criança)</option>
                        </select>
                    </form>
                </section>

                <section class="col2">
                    <form action="" method="post">
                        <label for="pub">Público</label>
                        <select name="publico" id="pub">
                            <option value="crianca">Criança</option>
                            <option value="adulto">Adulto</option>
                            <option value="idoso">Idoso</option>
                        </select>
                    </form>

                    <section class="btn">
                        <button id="btn1" type="button">Mais Filtros</button>
                        <button id="btn2" type="button">Buscar</button>
                    </section>
                </section>

            </section>


    </article>


    <article class="terapeutas-box">
        <section class="terapeutas-unidade">
            <section class="img-trp">
                <img src="imagens/profile3-psico.jpg" class="user-img" alt="">
            </section>
            <section class="label-trp">
                <h5>Wanessa Pedroso Paixão</h5>
                <section class="subtitle">
                    <h6>Abordagem: Psicanálise</h6> <h6>Especialidade: Adultos e Idosos</h6>
                </section>
                <section class="dif">
                    <ul class="trp">
                        <li>Alterações de humor</li>
                        <li>Ansiedade</li>
                        <li>Estresse</li>
                        <li>Depressão</li>
                        <li>Autoestima</li>
                        <li class="border">Borderline</li>
                        <li class="hiper">Hipersexualidade</li>
                    </ul>
                </section>
                <section class="input-bio-box">
                    <hr>
                    <p>Oi, meu nome é Wanessa, sou Psicóloga e faço pós graduação em Psicologia Clínica. <br>
                        Busco sempre proporcionar um atendimento acolhedor atendimento humanizado, <br> Qualquer dúvida estou a disposição.</p>
                    <input type="button" value="Agendar" class="agendar">
                </section>
                <section class="perfil-valor-box">
                    <section class="perfil-icon-box">
                        <a href=""><span>Ver perfil</span></a>
                    </section>
                            <section class="valor-box"><span class="valor">R$ 80,00/60 Minutos</span></section>
                </section>
            </section>
        </section>

        <section class="terapeutas-unidade">
            <section class="img-trp">
                <img src="imagens/profile-psico.jpg" alt="" class="user-img">

            </section>
            <section class="label-trp">
                <h5>Pedro Lardal</h5>
                <section class="subtitle">
                    <h6>Abordagem: Psicanálise</h6> <h6>Especialidade: Adultos e Idosos</h6>
                </section>
                <section class="dif">
                    <ul class="trp">
                        <li>Alterações de humor</li>
                        <li>Ansiedade</li>
                        <li>Estresse</li>
                        <li>Depressão</li>
                        <li>Autoestima</li>
                        <li class="border">Borderline</li>
                        <li class="hiper">Hipersexualidade</li>
                    </ul>
                </section>
                <section class="input-bio-box">
                    <hr>
                    <p>"Olá, sou Pedro Lardal, psicólogo dedicado a ajudar você a encontrar equilíbrio e bem-estar emocional. <br> Acredito no poder da escuta ativa e do apoio empático para promover mudanças positivas. <br> Estou aqui para ajudar você a navegar pelos desafios da vida e encontrar um caminho mais saudável e satisfatório."</p>
                    <input type="button" value="Agendar" class="agendar">
                </section>
                <section class="perfil-valor-box">
                    <section class="perfil-icon-box">
                        <a href=""><span>Ver perfil</span></a>
                    </section>
                            <section class="valor-box"><span class="valor">R$ 80,00/60 Minutos</span></section>
                </section>
            </section>
        </section>

        <section class="terapeutas-unidade">
            <section class="img-trp">
                <img src="imagens/profile2-psico.jpg" class="user-img" alt="">
            </section>
            <section class="label-trp">
                <h5>Bruno Ferreira</h5>
                <section class="subtitle">
                    <h6>Abordagem: Psicanálise</h6> <h6>Especialidade: Adultos e Idosos</h6>
                </section>
                <section class="dif">
                    <ul class="trp">
                        <li>Alterações de humor</li>
                        <li>Ansiedade</li>
                        <li>Estresse</li>
                        <li>Depressão</li>
                        <li>Autoestima</li>
                        <li class="border">Borderline</li>
                        <li class="hiper">Hipersexualidade</li>
                    </ul>
                </section>
                <section class="input-bio-box">
                    <hr>
                    <p>Sou Bruno Ferreira, psicólogo comprometido em oferecer um espaço seguro e <br> acolhedor para você explorar suas emoções e desafios. Meu objetivo é proporcionar suporte terapêutico <br> para que você possa desenvolver estratégias eficazes de enfrentamento e alcançar um maior autoconhecimento. <br> Vamos juntos trabalhar em prol do seu bem-estar.</p>
                    <input type="button" value="Agendar" class="agendar">
                </section>
                <section class="perfil-valor-box">
                    <section class="perfil-icon-box">
                        <a href=""><span>Ver perfil</span></a>
                    </section>
                            <section class="valor-box"><span class="valor">R$ 80,00/60 Minutos</span></section>
                </section>
            </section>
        </section>


        <section class="terapeutas-unidade">
            <section class="img-trp">
                <img src="imagens/profile7.jpg" class="user-img" alt="">
            </section>
            <section class="label-trp">
                <h5>Douglas Dias</h5>
                <section class="subtitle">
                    <h6>Abordagem: Psicanálise</h6> <h6>Especialidade: Adultos e Idosos</h6>
                </section>
                <section class="dif">
                    <ul class="trp">
                        <li>Alterações de humor</li>
                        <li>Ansiedade</li>
                        <li>Estresse</li>
                        <li>Depressão</li>
                        <li>Autoestima</li>
                        <li class="border">Borderline</li>
                        <li class="hiper">Hipersexualidade</li>
                    </ul>
                </section>
                <section class="input-bio-box">
                    <hr>
                    <p>Meu nome é Douglas Dias, psicólogo focado em promover a saúde mental e o desenvolvimento pessoal. Através de uma abordagem centrada na pessoa, busco compreender suas necessidades únicas e colaborar para que você possa superar obstáculos e alcançar seus objetivos pessoais e profissionais. Estou aqui para ouvir e apoiar você em sua jornada.</p>
                    <input type="button" value="Agendar" class="agendar">
                </section>
                <section class="perfil-valor-box">
                    <section class="perfil-icon-box">
                        <a href="logout"><span>Ver perfil</span></a>
                    </section>
                            <section class="valor-box"><span class="valor">R$ 80,00/60 Minutos</span></section>
                </section>
            </section>
        </section>


        <section class="terapeutas-unidade">
            <section class="img-trp">
                <img src="imagens/perfil-psicologa4.jpg" class="user-img" alt="">
            </section>
            <section class="label-trp">
                <h5>Dra Beatriz Santos</h5>
                <section class="subtitle">
                    <h6>Abordagem: Psicanálise</h6> <h6>Especialidade: Adultos e Idosos</h6>
                </section>
                <section class="dif">
                    <ul class="trp">
                        <li>Alterações de humor</li>
                        <li>Ansiedade</li>
                        <li>Estresse</li>
                        <li>Depressão</li>
                        <li>Autoestima</li>
                        <li class="border">Borderline</li>
                        <li class="hiper">Hipersexualidade</li>
                    </ul>
                </section>
                <section class="input-bio-box">
                    <hr>
                    <p>"Olá, sou a Dra. Beatriz Santos, psicóloga com vasta experiência em ajudar indivíduos a enfrentar <br> os desafios emocionais e psicológicos da vida. Minha missão é fornecer um ambiente seguro e acolhedor, <br> onde você possa se sentir à vontade para compartilhar suas preocupações e trabalhar em direção ao bem-esta <br>r e à realização pessoal. Vamos juntos construir um caminho de crescimento e equilíbrio."</p>
                    <input type="button" value="Agendar" class="agendar">
                </section>
                <section class="perfil-valor-box">
                    <section class="perfil-icon-box">
                        <a href=""><span>Ver perfil</span></a>
                    </section>
                            <section class="valor-box"><span class="valor">R$ 80,00/60 Minutos</span></section>
                </section>
            </section>
        </section>



    </article>
</body>

<script src="javascript/psicologos.js"></script>
</html>