  <title>Quadrante</title>
    <link rel="stylesheet" href="css/quadrante-unlogged.css">
</head>
<body>
            <section class="containerproje">
                <div class="slide-container active">
                    <div class="slide">
                        <div class="contentproje">
                            <h1>Psicólogos</h1>
                            <p>Entendemos a importância de ter acesso a ajuda profisional, por isso oferecemos consultas com psicólogos dedicados ao seu bem-estar. Agende facilmente uma sessão e receba apoio profissional para enfrentar seus desafios emocionais.
                                Não espere mais para cuidar da sua saúde!</p>
                                <a href="../partial/cadastropacientes.ejs" class="btnproj">Saiba Mais</a>
                         </div>
                    </div>
                </div>


                <div class="slide-container">
                    <div class="slide">
                        <div class="contentproje">
                            <h1>Comunidades</h1>
                            <p>A comunidade é um espaço onde você pode compartilhar suas experiências, aprender com outras pessoas que enfrentam desafios similares br e encontrar apoio. Faça parte, poste suas reflexões e encontre respostas, e ajude outros a encontrarem também. É transformador estar conectado com outras pessoas!</p>
                            <a href="../partial/cadastropacientes.ejs" class="btnproj">Saiba Mais</a>
                        </div>
                     </div>
                </div>

                <div class="slide-container">
                    <div class="slide">
                        <div class="contentproje">
                            <h1>Chats</h1>
                            <p>Nossos Chats com psicólogos estão disponíveis para oferecer o suporte que você precisa. Ao conversar com nosso especialistas, você pode compartilhar suas preocupações e receber orientação profissional. Converse com nossos especialistas e dê o primeiro passo para uma vida mais equilibrada e saudavel</p>
                            <a href="../partial/cadastropacientes.ejs" class="btnproj">Saiba Mais</a>
                        </div>
                     </div>
                </div>

                <div class="slide-container">
                    <div class="slide">
                        <div class="contentproje">
                            <h1>Calendário</h1>
                            <p>Nosso calendário é uma ferramenta para registrar como você se sente diariamente e acompanhar suas terapias agendadas. É como ter um diário digital que ajuda você a cuidar da sua saúde dia após dia.
                                Experimente como nosso calendário pode ser uma ferramenta valiosa para seu bem-estar!</p>
                                <a href="../partial/cadastropacientes.ejs" class="btnproj">Saiba Mais</a>
                        </div>
                    </div>
                </div>

                <div id="prev"> < </div>
                <div id="next"> > </div>
            </section>

            <script src="javascript/quadrante-unlogged.js"></script>
</body>
</html>