
    <title>Suporte</title>
    <link rel="stylesheet" href="css/redirecionamento-suporte.css">
</head>
<body>
    <%- include("../partial/headerunlogged") %>
    <main class="main-redire">
        <article class="titulo-box">
            <h1 class="titulo">Precisa de ajuda? Conte com a gente!</h1>
            <hr>
        </article>
        <article class="lista-sumario">
            <ol class="sumario">       
                <li>Conta</li>
                <li>Recursos e Experiências</li>
                <li>Regras</li>
                <li>Privacidade e Segurança</li>
                <li>Primeiros Passos</li>
                <li>Denúncias</li>
            </ol>
        </article>

        <h2 class="subtitulo">Conta</h2>

        <article class="bloco-duvidas">
            <h3>Como criar uma conta como cliente?</h3>
            <ul class="info-duvidas">
                <li>Clique na parte superior direita do menu na pagina inicial no icone  "cadastrar"</li>
                <li>Selecione a opção "cliente"</li>
                <li>Coloque as informações solicitadas</li>
                <li>Após isso, clique em ""continuar"" e sua conta estará criada</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h3>Como criar uma conta como psicólogo?</h3>
            <ul class="info-duvidas">
                <li>Clique na parte superior direita do menu na pagina inicial no icone  "cadastrar"</li>
                <li>Selecione a opção "psicólogo"</li>
                <li>Coloque as informações solicitadas</li>
                <li>Após isso, clique em ""continuar"" e sua conta estará criada</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h3>Como alterar o endereço de email da sua conta</h3>
            <ul class="info-duvidas">
                <li>Após estar logado, clique no icone de perfil (pessoa)</li>
                <li>Você será redirecionado para a aba com tudo relacionado ao seu perfil (editar perfil, consultas, humor, salvos, ajuda e sair da conta)</li>
                <li>Clique em "editar perfil"</li>
                <li>Vá no campo ""email"" e altere para o desejado</li>
                <li>Depois de escrever o email desejado clique em "atualizar dados"</li>
                <p class="p-aviso"><strong>
                    OBS: Não será possivél alterar dados como "CPF" e  "CRP", caso aconteça
                     alguma situação em que foi necessária a mudança de tais, entre em contato conosco em ""fale conosco"" e nos mande diretamente
                </strong></p>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h3>Esqueci minha senha! Aonde posso definir uma nova?</h3>
            <ul class="info-duvidas">
                <li>Após estar logado, clique no icone de perfil (pessoa)</li>
                <li>Você será redirecionado para a aba com tudo relacionado ao seu perfil (editar perfil, consultas, humor, salvos, ajuda e sair da conta)</li>
                <li>Clique em "editar perfil" </li>
                <li>Vá no campo "senha" e altere para a desejada</li>
                <li>Depois de escrever a senha desejada clique em "atualizar dados"</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h3>Como faço para sair?</h3>
            <ul class="info-duvidas">
                <li>Após estar logado, clique no icone de perfil (pessoa)</li>
                <li>Você será redirecionado para a aba com tudo relacionado ao seu perfil (editar perfil, consultas, humor, salvos, ajuda e sair da conta)</li>
                <li>Clique em "sair da conta" </li>
                <li>Confirme se realmente deseja sair da conta em "sair da conta"</li>
            </ul>
        </article>

        <h2 class="subtitulo">Conta</h2>

        <article class="bloco-duvidas">
            <h4>Consultas</h4> 
            <h3>Como funciona:</h3>                                                                                                   >
            <p>As consultas da Dimittens são realizadas de forma online, com psicólogos qualificados. Você pode escolher um            profissional com base em sua especialidade, perfil, ou recomendações. As consultas são conduzidas via videoconferência, garantindo que você tenha uma sessão personalizada e confidencial no conforto de sua casa.</p>
            <h3>Como usar</h3>
            <ul class="info-duvidas">
                <li>Ao acessar a aba "psicólogos"  no site, você verá uma lista de profissionais disponíveis.</li>
                <li>Após escolher um profissional, você pode verificar os horários disponíveis na agenda e agendar uma consulta de acordo com sua conveniência.</li>
                <li>O pagamento pode ser realizado de forma segura pela plataforma, e o link para a videoconferência será fornecido.</li>
                <li>No dia e hora agendados, basta acessar a plataforma e clicar no link para iniciar a consulta.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Chat</h4> 
            <h3>Como funciona:</h3>                                                                                                   >
            <p>O chat da Dimittens permite que você se conecte em tempo real com profissionais de saúde mental. É uma maneira de receber suporte rápido e prático, sem a formalidade de uma consulta completa. O chat também pode ser utilizado para esclarecer dúvidas pontuais ou buscar orientações imediatas.</p>
            <h3>Como usar</h3>
            <ul class="info-duvidas">
                <li>Acesse a aba ""Chat"" no menu do site.</li>
                <li>Escolha com qual profissional de saúde mental deseja conversar.</li>
                <li>Inicie uma conversa clicando no perfil do profissional.</li>
                <li>O chat é interativo e instantâneo, permitindo trocas rápidas de mensagens.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Comunidade</h4> 
            <h3>Como funciona:</h3>                                                                                                   >
            <p>A comunidade da Dimittens é um espaço interativo onde os usuários podem compartilhar suas experiências, pensamentos e conquistas. É um ambiente de apoio mútuo, onde pessoas que enfrentam desafios psicológicos semelhantes podem se ajudar, trocar dicas, e encontrar conforto.</p>
            <h3>Como usar</h3>
            <ul class="info-duvidas">
                <li>Acesse a aba "Comunidade" no menu do site.</li>
                <li>Você pode navegar pelas postagens feitas por outros usuários, interagir curtindo ou comentando as publicações.</li>
                <li>Para compartilhar sua própria história ou dúvidas, basta criar uma nova postagem usando o campo de texto disponível.</li>
                <li>Participe de discussões em tópicos que lhe interessam, e siga comunidades para ficar por dentro de suas atualizações.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Calendário</h4> 
            <h3>Como funciona:</h3>                                                                                                   
            <p>O calendário é uma ferramenta projetada para ajudá-lo a acompanhar suas consultas e monitorar seu bem-estar diário. Você pode registrar como se sente a cada dia e revisar o seu progresso ao longo do tempo. Isso também ajuda na organização de consultas futuras e no planejamento do autocuidado.</p>
            <h3>Como usar</h3>
            <ul class="info-duvidas">
                <li>Acesse a aba "Calendário" no menu do site.</li>
                <li>No calendário interativo, você pode agendar consultas ou sessões terapêuticas com psicólogos e psiquiatras.</li>
                <li>Há um campo onde você pode inserir como está se sentindo no dia – com uma escala de emoções que vai de "muito bem" a "muito mal".</li>
                <li>Você pode acompanhar seu progresso emocional ao longo do mês, vendo padrões que podem ajudar tanto a você quanto ao seu terapeuta nas consultas.</li>
                <li>Utilize o calendário também para definir lembretes de terapias futuras ou sessões de acompanhamento.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h2>Calendário</h2> 
            <h4>Termos e condições gerais de uso</h4>                                                                                                   >
            <p>Por intermédio destes Termos e Condições Gerais de Uso (“Termos”), a Dimittens apresenta aos usuários (“Usuários”) as condições essenciais para o uso dos Serviços oferecidos na Plataforma.
                Ao utilizar a Plataforma ou os Serviços ofertados, os Usuários aceitam e se submetem às condições destes Termos e às Políticas de Privacidade, bem como a todos os documentos anexos a estes.</p>
            <h4>Objetivo</h4>
            <p>A Plataforma disponibiliza o Consultório Virtual Dimittens, desenvolvido exclusivamente para atendimento da área da saúde, por meio do qual é possível que os Usuários e o psicólogos cadastrados ""Psicólogos"" realizem consultas online, assegurando o sigilo e a privacidade exigidos pelo Código de Ética Profissional do Psicólogo.
                A Dimittens é a proprietária da Plataforma e por meio desta também oferece gestão de agendamentos e pagamentos. O objetivo é possibilitar a intermediação entre Usuários e Psicólogos para que os ""Usuários"" possam encontrar os profissionais que buscam e realizar o agendamento de consultas independente do local que estejam.
                A Dimittens poderá ser contratada diretamente pelos Usuários ou por meio de empresas parceiras (“Parceiras”) que queiram oferecer os Serviços disponibilizados na Plataforma como benefício para os seus empregados, prestadores de serviços, colaboradores e outros. Nestes casos, será firmado contrato particular entre as partes responsáveis e o presente Termos de Uso continuará sendo aplicável aos Usuários.
                Os Psicólogos são os únicos responsáveis pela veracidade e precisão das informações e Conteúdos que oferecem relacionados às suas consultas, bem como pelos valores a serem cobrados em suas consultas, pelo estabelecimento em que oferecem seus serviços e cumprimento de seu próprio método de trabalho. A Dimittens isenta-se de qualquer responsabilidade em relação a cancelamentos, atrasos, mudanças de datas ou horários de consulta, bem como quaisquer danos morais ou materiais causados ao Usuário, exceto nos casos em que a plataforma seja diretamente responsável por tais eventos.
                Não seremos responsáveis por fornecer qualquer apoio ou suporte ao Usuário que se faça necessário em razão do atendimento inadequado do ponto de vista técnico por parte do Psicólogo. O Psicólogo é o único e exclusivo responsável pelo atendimento realizado em favor do Usuário.
                Caso o Usuário sinta-se desconfortável com a sugestão do Psicólogo para utilização de meios alternativos de pagamento, em desacordo com o presente Termos de Uso e Política de Privacidade, este deverá nos comunicar para auxiliá-lo.</p>
        </article>

        <article class="bloco-duvidas">
            <h4>Pagamento</h4> 
            <ul class="info-duvidas">
                <li>Todo o pagamento e repasse de valores é realizado pela BLABLABLA, pessoa jurídica de direito privado, inscrita no CNPJ sob o nº 15.111.975/0001-64, com sede no Estado de São Paulo, na Cidade de São Paulo, na Avenida Engenheiro Luiz Carlos Berrini, 1376, 16 e 17 andar, torre A, Cidade Monções – CEP 04.571-936, empresa essa que oferece à Dimittens um sistema integrado de pagamento, referida neste instrumento como sistema de pagamento (“Sistema de Pagamento”). É essencial que o Usuário verifique se está de acordo com o Sistema de Pagamento.
                </li>
                <li>Ao proceder ao pagamento das consultas agendadas na Plataforma, presume-se que o Usuário leu e aceitou os Termos de Uso e Política de Privacidade do Sistema de Pagamento, disponíveis no seguinte link: da paypall SLA.</li>
                <li>O pagamento para atendimento pelos Psicólogos deverá ser efetivado necessariamente por meio da Plataforma em conjunto com o Sistema de Pagamento, via cartão de crédito, PIX ou boleto bancário. É vedada a utilização ou efetivação de qualquer outro arranjo de pagamento entre Psicólogos e Usuários, ao utilizarem os Serviços da Plataforma.</li>
                <li>Para fins de segurança e garantia dos Serviços da Plataforma, os Usuários não devem realizar o pagamento por qualquer outro meio que não aquele oferecido pela Plataforma. Nesses casos, a Dimittens não será responsável por eventuais perdas e danos suportados pela parte prejudicada, nem mesmo aquelas que estiverem em desacordo com o presente Termos e Política de Privacidade.</li>
                <li>A Dimittens reserva-se o direito de modificar o Sistema de Pagamento utilizado pela Plataforma, a seu exclusivo critério e a qualquer tempo, avisando com antecedência o Usuário sobre eventual modificação.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Capacidade de cadastrar-se</h4> 
            <ul class="info-duvidas">
                <li>A Plataforma viabiliza aos Usuários uma ferramenta de agendamento virtual para prestação de serviços de psicologia online, tais como orientação psicológica, psicoterapia, entre outros, possibilitando aos Usuários o cuidado com sua saúde e bem-estar.</li>
                <li>Nós disponibilizamos uma parte no rodapé com contatos de atendimento contato@dimittens.com, caso o Usuário deseje entrar em contato com a nossa equipe para quaisquer solicitações, inclusive relacionadas a questões sobre proteção de dados. A Dimittens se compromete a responder as solicitações dos Usuários o mais breve possível, durante o horário comercial. O tempo de resposta estimado pode variar de acordo com a complexidade da dúvida ou solicitação apresentada.</li>
                <li>Os Serviços da Plataforma estão disponíveis somente para pessoas capazes de exercer pessoalmente os atos da vida civil. O uso por menores de 18 (dezoito) anos está condicionado ao envio de autorização, nome completo, CPF e data de nascimento dos pais ou responsáveis do menor.</li>
                <li>É de única e exclusiva responsabilidade do Psicólogo o cumprimento dos procedimentos técnicos necessários para garantir o correto atendimento aos seus pacientes.</li>
                <li>É vedada a criação de mais de um cadastro por Usuário. Em caso de multiplicidade de cadastros criados por um só Usuário, a Dimittens reserva-se o direito de a seu exclusivo critério e sem necessidade de prévia anuência ou comunicação aos Usuários, inabilitar todos os cadastros existentes e impedir eventuais cadastros futuros vinculados a estes.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Cadastro do usuário</h4> 
            <ul class="info-duvidas">
                <li>Qualquer pessoa pode pesquisar e visualizar Psicólogos, horário e data de agendamento sem se registrar na Plataforma. Contudo, para acessar, agendar uma consulta e usufruir das demais áreas e funcionalidades da Plataforma, você precisará se cadastrar na Plataforma.</li>
                <li>O cadastro será realizado diretamente na Plataforma, mediante o preenchimento dos dados pessoais solicitados.</li>
                <li>Ao criar uma conta na Dimittens, o Usuário é responsável e se obriga a fornecer somente informações verdadeiras, exatas e autênticas, além de mantê-las atualizadas enquanto estiver utilizando a Plataforma. Os Usuários da Vittude garantem e respondem, em qualquer caso, civil e/ou criminalmente, pela veracidade, exatidão e autenticidades dos dados pessoais cadastrados.</li>
                <li>A Dimittens não se responsabiliza pela veracidade, exatidão, autenticidade ou atualização dos dados dos Usuários e/ou Psicólogos. Entretanto, a Vittude se reserva no direito de utilizar todos os meios válidos e possíveis para identificar seus Usuários e/ou Psicólogos, bem como de solicitar dados adicionais e documentos que estime serem pertinentes a fim de confirmar a identidade e informações conferidas, assim como para atendimento das solicitações dos Usuários com relação a Lei Geral de Proteção de Dados (“LGPD”).</li>
                <li>Os Usuários declaram estar cientes de que os dados e informações solicitados pela Dimittens durante o momento de cadastro na Plataforma possuem o intuito de realizar a correta e efetiva prestação de Serviços disponibilizados. Para mais informações sobre seus dados, recomendamos a leitura da Política de Privacidade da Dimittens.</li>
                <li>Caso a nós consideremos um cadastro, ou as informações nele contidas, suspeito de conter dados errôneos ou inverídicos, nos reservamos o direito de suspender, temporária ou definitivamente, o Usuário responsável pelo cadastramento, sem prejuízo de outras medidas que entenda necessárias e oportunas. No caso de aplicação de quaisquer destas sanções, não assistirá aos Usuários o direito a qualquer tipo de indenização ou ressarcimento por perdas e danos, lucros cessantes ou danos morais.</li>
                <li>O Usuário é responsável por proteger sua senha de acesso à Plataforma. Ao criar uma conta, você concorda que não revelará sua senha a terceiros e que você assumirá total responsabilidade por quaisquer ações realizadas através de sua conta, independentemente de você ter autorizado ou não tais ações.</li>
                <li>O Usuário se compromete a notificar a Dimittens imediatamente, por meio dos canais de contato mantidos na Plataforma, a respeito de qualquer suspeita ou constatação de uso não autorizado de sua conta.</li>
                <li>O Usuário será o único responsável pelas operações efetuadas em sua conta, uma vez que o acesso só será possível mediante a utilização de sistema de verificação que é exclusivo para sua conta. Estes Termos incluem, mas não se limitam a utilização de funcionalidades “lembrar senha” ou “mantenha-me conectado” em computadores ou dispositivos móveis próprios ou de terceiros.</li>
                <li>Em nenhuma hipótese será permitida a cessão, a venda, o aluguel ou outra forma de transferência da conta. Não se permitirá, ainda, a criação de novos cadastros por pessoas cujos cadastros originais tenham sido cancelados por infrações às políticas da Dimittens.</li>
                <li>A Dimittens adota todas as medidas que estão ao seu alcance para proteger os dados e a privacidade do Usuário, em atendimento à legislação em vigor. Para mais informações, acesse nossa Política de Privacidade.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Agendamento de Consultas</h4> 
            <ul class="info-duvidas">
                <li>A Dimittens oferece um serviço de gestão de agendamento e pagamento para visualização de datas e horários para agendamento com os Psicólogos, para consultas virtuais. Ressalta-se que a plataforma não tem qualquer ingerência sobre a disponibilidade dos Psicólogos. Portanto, todas as informações sobre data, e horário são de responsabilidade tão somente do Psicólogo.</li>
                <li>O Usuário, já cadastrado, poderá buscar por Psicólogos, atentando-se para os principais critérios de busca:  a) Abordagem; b) Especialidade desejada; c) Preço cobrado pela consulta; ou d) Entre outros que estiverem disponíveis na Plataforma no momento de agendamento da consulta. Considerando os critérios de informação escolhidos pelo Usuário, será apresentada uma lista de Psicólogos, indicando os dias e horários disponíveis, bem como o valor a ser cobrado pela consulta.</li>
                <li>O critério de ordenação dos Psicólogos, será definido única e exclusivamente pela Vittude, através de algoritmo que pode levar em consideração critérios como, disponibilidade, índice de recomendação, índice acesso, escala de avaliação, entre outros.</li>
                <li>A lista de Psicólogos poderá ser alterada a qualquer momento por opção da plataforma ou em razão de solicitação, devidamente fundamentada e aceita pela mesma, feita pelo Psicólogo, a depender única e exclusivamente da Dimittens.</li>
                <li>No caso de terceira pessoa ou dependente deverá o Usuário informar na própria Plataforma os contatos deste e demais informações necessárias para que o mesmo possam participar da Consulta, em caso de menores de 18 (dezoito) anos, a Dimittens reforça a necessidade de autorização específica.</li>
                <li>O Usuário ao agendar para dependente declara que possui legitimidade para tanto. Sendo que, a Dimittens não se responsabiliza pela veracidade, exatidão, autenticidade ou atualização dos dados informados.</li>
                <li>Ressalta-se que o link para acesso à consulta será enviado para o e-mail cadastrado e vinculado à conta do Usuário que fizer o agendamento, ou seja, não será enviado ao terceiro ou dependente, sendo de inteira responsabilidade deste acessá-lo por meio do link enviado ao e-mail cadastrado do Usuário.</li>
                <li>Assim, o Usuário deverá assegurar o acesso ao terceiro na data e horário agendado.</li>
                <li>Ao final, o Usuário deverá optar por uma das formas de pagamento disponíveis na plataforma: cartão de crédito, pix ou boleto bancário e clicar em “Agendar”.</li>
                <li>Caso opte pelo pagamento através de boleto bancário, o Usuário deverá estar ciente que:</li>
                <li>o pagamento por meio de boleto bancário somente será possível se o Usuário possuir endereço em território nacional cadastrado em sua conta; e</li>
                <li>o agendamento da consulta somente será liberado após a compensação bancária, cuja estimativa é de até 3 (três) dias úteis após a realização do pagamento.</li>
                <li>O Usuário também poderá optar pela contratação e ativação do plano mensal, trimestral ou semestral, para que possa realizar consultas com cupons de desconto e entre outros beneficios. Nesse caso, o pagamento poderá ser realizado por cartão ou pix</li>
                <li>Após a confirmação do agendamento, o horário de consulta escolhido pelo Usuário ficará indisponível para os outros Usuários, garantindo assim a não cumulação de consultas em um mesmo horário para um mesmo Psicólogo.</li>
                <li>A Dimittens não recomenda que consultas virtuais sejam realizadas por outras plataformas de comunicação, em razão da inexistência de protocolos específicos de segurança e sigilo necessários para a manutenção da relação entre Psicólogo e Usuário, conforme recomendações do Conselho Federal de Psicologia. Na hipótese das partes utilizarem outra plataforma de comunicação, a Dimittens não será responsável por eventuais perdas e danos suportados pela parte prejudicada.</li>
                <li>Os Psicólogos e Usuários cadastrados, poderão acessar seus agendamentos por meio de painel disponibilizado na Plataforma.</li>
                <li>Quaisquer atrasos por parte do Usuário e/ou Psicólogo, nas consultas virtuais, será de responsabilidade tão somente da parte que deu causa, não sendo, portanto, a Dimittens responsável por eventuais perdas e danos suportados pela parte prejudicada pelo atraso.</li>
                <li>O atraso de até 15 (quinze) minutos, seja por parte do Psicólogo ou do Usuário, será considerado aceitável e tolerável. Ultrapassado esse limite de tempo, a ausência do Usuário será considerada como falta, não estando passível ao reembolso do valor. No caso de ausência do Psicólogo, este estará sujeito a sanções próprias do Termo de Uso aplicável.</li>
                <li>A Vittude não se opõe à comunicação externa entre Psicólogo e Usuário por meios alternativos de comunicação para resolução de dúvidas e confirmações de horários de consultas, não sendo responsável por eventuais perdas e danos suportados pela parte prejudicada em razão de comunicações externas, nem mesmo aquelas que estiverem em desacordo com o presente Termos e Política de Privacidade.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Política de alteração                       </h4> 
            <ul class="info-duvidas">
                <li>O Usuário poderá alterar o horário da consulta sem nenhum custo, desde que o faça em até 24 (vinte e quatro) horas antes do início da sessão marcada, diretamente na Plataforma.</li>
                <li>Caso o Usuário opte por remarcar a consulta, será necessário fazer login na Plataforma através do uso de e-mail e senha para solicitar o reagendamento da sessão, indicando novo horário escolhido.</li>
                <li>Em períodos inferiores a 24 (vinte e quatro) horas, o Usuário poderá solicitar o cancelamento da consulta, ficando a critério do Psicólogo aceitar ou não o pedido. A Dimittens não será responsável por eventuais perdas e danos suportados pela parte prejudicada nesse caso.</li>
                <li>Caso o Usuário solicite a alteração do horário da consulta com menos de 24 (vinte e quatro) horas de antecedência, de acordo com O disposto no item acima, e o pedido for recusado pelo Psicólogo, o valor da consulta não será restituído ao Usuário.</li>
                <li>Caso o Usuário faça o agendamento e não compareça no horário marcado ou solicite o cancelamento após o prazo permitido para desistência o valor cobrado pela consulta será repassado ao Psicólogo que disponibilizou a hora para o agendamento, não sendo restituída qualquer quantia ao Usuário, visto que será considerado como desistência do Usuário em relação à consulta.</li>
                <li>Será admitida a opção de cancelamento dentro do prazo de 7 (sete) dias estabelecido no Código de Defesa do Consumidor, o qual iniciará sua contagem a partir do efetivo cadastro do Usuário na Plataforma. Nesse caso, a consulta será considerada como cancelada e o Psicólogo não receberá por ela e o Usuário deverá ter o seu saldo de sessão utilizado devolvido em caso de benefício corporativo ou receber o estorno do valor pago em caso de pagamento via Pix, boleto ou cartão.</li>
                <li>O prazo de cancelamento previsto nesta cláusula, será contado a partir da data do cadastro do usuário na plataforma e não será admitido, caso o Usuário já tenha efetivamente realizado a consulta.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Desistência da consulta</h4> 
            <ul class="info-duvidas">
                <li>O Usuário tem o direito de desistir da consulta, desde que solicite o cancelamento com antecedência mínima de 24 (vinte e quatro) horas antes do horário agendado. O Usuário está ciente que ao realizar o cancelamento dentro do prazo estipulado, o valor ficará disponível na conta do Usuário na Dimittens como créditos, os quais poderão ser utilizados posteriormente em novos agendamentos dentro da Plataforma.</li>
                <li>Caso o Usuário deseje receber o estorno do valor total da consulta, será necessário entrar em contato, por meio dos canais de atendimento disponíveis na plataforma.</li>
                <li>Caso o Usuário tenha realizado o pagamento por meio de cartão de crédito, o valor será estornado em até 2 (duas) faturas, de acordo com a data de fechamento da mesma e do processamento pela operadora do cartão de crédito utilizado pelo Usuário. Caso o pagamento tenha sido realizado via boleto bancário, o prazo para estorno será de até 10 (dez) dias úteis.</li>
                <li>Caso o Usuário faça o agendamento e não compareça no horário agendado ou solicite o cancelamento com menos de 24 (vinte e quatro) horas de antecedência ao horário previamente agendado, o valor cobrado pela consulta será repassado ao Psicólogo que disponibilizou a hora para o agendamento, descontada a taxa de serviço da Dimittens, não sendo restituída qualquer quantia ao Usuário.</li>
                <li>Caso o Psicólogo, por quaisquer motivos, necessite remarcar a consulta agendada, este deverá entrar em contato com o Usuário, através da Plataforma, a fim de indicar ao Usuário outro horário que tenha disponibilidade. O Usuário deverá retornar o contato, informando se está de acordo com a remarcação ou se deseja cancelar a consulta.</li>
                <li> Caso o Usuário não concorde com a alteração do horário, a Dimittens poderá indicar outro Psicólogo ou realizar o reembolso do valor integral ao Usuário.</li>
                <li>Em caso de não comparecimento do Psicólogo na consulta agendada, o valor cobrado será integralmente devolvido ao Usuário, montante este que poderá ser usado para o agendamento de uma nova consulta.</li>
                <li>O valor estornado será igual ao dobro do valor pago somente se for identificado e provado que houve cobrança indevida de valores por parte da plataforma.</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Avaliação dos psicólogos</h4> 
                <p>A plataforma disponibiliza aos Usuários uma ferramenta de avaliação subjetiva de seus Psicólogos, a fim de contribuir para a qualidade dos Serviços prestados. Após a consulta, o Usuário terá a opção de avaliar o Psicólogo.
                    O Usuário poderá atribuir uma nota que varia entre 1 (uma) e 5 (cinco) estrelas. A Dimittens ressalta que tal avaliação trata-se de avaliação subjetiva do Psicólogo, com o objetivo de verificar, com base nos critérios estabelecidos, a percepção do Usuário com relação a Consulta.
                   Além do mecanismo de avaliação, há um campo destinado para o Usuário escrever um comentário sobre o Psicólogo, permitindo uma descrição mais detalhada da experiência.
                   O Usuário será o único e exclusivo responsável pelo Conteúdo dos comentários, devendo ater-se aos fatos, descrevendo sua opinião de maneira clara e honesta, sendo vedado o uso de linguagem: (i) indecorosa, (ii) preconceituosa, (iii) desrespeitosa, (iv) discriminatória, (v) injuriosa, (vi) caluniosa, (vii) difamatória e/ou que de qualquer forma atentem contra a dignidade, a imagem, a reputação, a honra, a moral, a integridade ou qualquer outro direito de qualquer pessoa, independentemente de sua nacionalidade, etnia, gênero, orientação sexual ou religião, (viii) que contenha dados (mensagens, informação, imagens) subliminares, (ix) que contenha dados ou informações que constituem ou possam constituir crime (ou contravenção penal) ou que possam ser entendidas como incitação à prática de crimes (ou contravenção penal); (x) que ofenda à liberdade de crença e às religiões, (xi) que viole qualquer lei ou seja inapropriada, (xii) atente contra a ordem pública, os bons costumes e/ou qualquer norma jurídica, (xiii) que faça propaganda eleitoral ou divulgue opinião favorável ou contra partido ou candidato; e (xiv) que viole direitos de Propriedade Intelectual, em especial direitos autorais, de marca e da personalidade.
                   Os comentários realizados pelos Usuários não têm caráter técnico, sendo seu único objetivo apresentar as percepções pessoais do Usuário durante a consulta.
                   A Dimittens não realizará nenhuma moderação prévia à publicação dos comentários, podendo os Usuários publicarem o Conteúdo diretamente na Plataforma, sem qualquer interferência da plataforma. Entretanto, a Dimittens reserva-se no direito de excluir Conteúdos, mas não se limita a, caso sejam inverídicos, ofensivos, estejam em desacordo com a moral e os bons costumes ou façam uso de linguagem vedada nestes Termos de Uso,
                </p>

                   <ul class="info-duvidas">
                    <li>O Usuário é responsável e se obriga a:
                        Garantir um acesso à internet estável e contínuo, a fim de permitir a realização das consultas com os Psicólogos por meio da Plataforma ou meios externos; Reconhecer que todos os acessos realizados na Plataforma são interpretados como tendo sido feitos por ele próprio de forma incontestável; Dispor de dispositivos, recursos e equipamentos tecnológicos com antivírus e firewall habilitados, softwares devidamente atualizados, além da adoção de medidas de segurança mínimas para acesso à Plataforma; Deixar seus sistemas de antispam, filtros similares ou configurações de redirecionamento de mensagens ajustados de modo que não interfiram no recebimento dos comunicados e materiais da Dimittens, não sendo aceitável nenhuma escusa caso não tenha tido acesso a algum e-mail ou mensagem eletrônica em virtude dos recursos mencionados; Na incidência de danos decorrentes de atos praticados por meio do acesso à Plataforma ou a terceiros, arcar com todas as obrigações de indenizar o sujeito lesado, assumindo o polo passivo de ação judicial ou procedimento administrativo e requerendo a exclusão da Dimittens, devendo arcar totalmente com as despesas e custas processuais atinentes, deixando-a livre de prejuízos e ônus.</li>
                    <li>
                        As funcionalidades da Plataforma são oferecidas na forma de prestação de serviço, não conferindo ao Usuário nenhum direito sobre o software relacionado à Plataforma ou sobre suas estruturas de informática que a sustentam.
                    </li>
                   </ul>
        </article>

        <article class="bloco-duvidas">
            <h4>Isenções e limitações na responsabilidade da Dimittens </h4> 
                <p>
                    A plataforma respeita e obedece a todas as leis e regulamentos aplicáveis às suas atividades e espera que todos seus Usuários e Psicólogos façam o mesmo. Entretanto, a Dimittens não pode garantir e não assume nenhuma responsabilidade pela conformidade de seus Usuários e Psicólogos com quaisquer leis ou regulamentos. Ao utilizar a Plataforma ou Serviços, o Usuário declara estar ciente, entender e concordar que é exclusiva e totalmente responsável pelo cumprimento de todas e quaisquer leis, normas, regulamentos e obrigações legais e fiscais que possam ser aplicadas para o uso da Plataforma.
                    A Dimittens não garante a exatidão nem autenticidade das informações e Conteúdos fornecidos pelos Usuários e Psicólogos e não tem nenhuma obrigação de verificá-los ou monitorá-los. Entretanto, a plataformareserva-se o direito de fazê-lo, diretamente ou através de fornecedores ou terceiros capacitados, para garantir a qualidade dos Serviços prestados e a conformidade com estes Termos ou para cumprir com a lei aplicável ou com ordem de algum órgão competente. Estas verificações incluem, mas não se limitam a: a) verificar a exatidão, autenticidade e atualidade de informações de identificação pessoal;b) verificar antecedentes acadêmicos, profissionais, criminais, de crédito, de reputação online ou qualquer outra informação que possa auxiliar a plataforma a avaliar a capacidade ou probabilidade do Usuário e do Psicólogo honrarem com as responsabilidades assumidas perante a Dimittens, Usuários e/ou Psicólogos;c) contatar referências profissionais ou pessoais fornecidas ou não pelo Psicólogo;d) acessar, visualizar e monitorar todo e qualquer Conteúdo postado ou transmitido pelo Usuário através da Plataforma ou Serviços. O Usuário, ao aceitar os presentes Termos de Uso, autoriza expressamente a realização da verificação por quaisquer das formas estabelecidas acima.
                    A plataforma não tem acesso e, portanto, não coleta e/ou armazena as informações fornecidas pelo Usuário diretamente aos Psicólogos durante as consultas online e a eventuais anotações e relatórios de Usuários elaborados pelos Psicólogos durante as consultas. É dever do Psicólogo realizar a devida coleta e armazenamento das informações fornecidas pelo Usuário. Portanto, é de responsabilidade do próprio Psicólogo garantir a segurança das informações fornecidas pelo Usuário contratante, não podendo a Dimittens ser responsabilizada por eventuais perdas e danos decorrentes do vazamento ou do uso indevido destes dados e/ou informações.
                    A Dimittens realiza a intermediação entre Usuário e Psicólogo para possibilitar que Usuários encontrem os profissionais desejados e realizem o agendamento de consultas. A Dimittens procede apenas com a verificação formal descrita nos itens abaixo, contudo, não endossa nenhum Psicólogo e não tem qualquer responsabilidade pela conduta dos Psicólogos ou de terceiros contratados ou contratados através da Plataforma.
                    A plataforma se limita tão somente à realização de análises formais como (i) checagem de registros profissionais dos Psicólogos (CRP); (ii) verificação de tempo de clínica de atendimento dos Psicólogos; e (iii) confirmação da formação acadêmica.
                    Em momento algum a Dimittens poderá ser responsabilizada pelas atitudes e omissões dos Psicólogos perante os atendimentos a serem realizados, visto que apenas disponibiliza ferramenta de intermediação para a contratação de Psicólogos pelos Usuários.
                    A plataforma explicitamente não se responsabiliza por qualquer ato ou omissão de qualquer Psicólogo em relação a Usuários ou a terceiros. Ao utilizar a Plataforma ou Serviços, você concorda que qualquer ação judicial ou de responsabilidade civil que você procurar obter por ações ou omissões de Psicólogos, Usuários ou outros terceiros será limitada a uma reivindicação contra os Psicólogos, Usuários individuais ou terceiros que lhe causaram mal e você concorda em não tentar impor a responsabilidade ou intentar recurso legal contra a Dimittens, ou seus acionistas, representantes, gestores ou funcionários, com relação a tais ações ou omissões. O mesmo compromisso aplica-se a todas as demais partes envolvidas nas reclamações ou ações.
                    Como a plataforma não figura como parte nas transações que ocorrem entre os Usuários e os Psicólogos, a responsabilidade por todas as obrigações delas decorrentes, sejam fiscais, trabalhistas, consumeristas ou de qualquer outra natureza, são exclusivamente dos Usuários e dos Psicólogos.
                    Caso a Dimittens seja ré de ação judicial cujos fatos fundem-se em ações do Usuário, este será chamado ao processo devendo arcar com todos os ônus que daí decorram.
                    O Usuário indenizará a Dimittens, suas filiais, empresas controladas ou controladoras, diretores, administradores, colaboradores, representantes e empregados por qualquer demanda promovida por outros Usuários, Psicólogos ou terceiros decorrentes de atos e omissões do Usuário durante o uso da Plataforma ou Serviços que tenham implicado em descumprimento destes Termos de Uso, demais políticas da Dimittens disponibilizadas na Plataforma, direitos de terceiros ou quaisquer leis ou regulamentos aplicáveis; incluindo honorários de advogados.
                    A Plataforma pode conter links para outros websites. Isto não implica em nenhuma relação de sociedade, de supervisão, de cumplicidade, de endosso ou solidariedade da Dimittens para com esses sites, seus Conteúdos, produtos ou serviços. Você reconhece e concorda que a Dimittens não é responsável pela disponibilidade ou exatidão de tais sites ou recursos ou pelos Conteúdos, produtos ou serviços contidos ou disponibilizados através de tais sites ou recursos. Você assume exclusiva e total responsabilidade por todos os riscos e eventuais danos e/ou prejuízos decorrentes do uso de quaisquer desses sites ou de seus Conteúdos, produtos ou serviços.
                    Eventuais despesas decorrentes ou relacionadas com a utilização da Plataforma ou Serviços, incluindo, mas não se limitando a despesas de pacote de dados ou internet, são de inteira responsabilidade de cada Usuário.
                    A Dimittens não se responsabiliza por/pela(o):
                    a) Quaisquer vícios, defeitos técnicos e/ou operacionais (problemas, bugs e glitches) ou funcionamentos indevidos que ocorrerem nos dispositivos e equipamentos dos Usuários ou de terceiros e sejam resultantes do uso regular da Plataforma;b) Qualquer dano direto ou indireto ocasionado por eventos de terceiros, que não forem causados diretamente pela plataforma, como ataque de hackers, falhas imprevisíveis no sistema, no servidor ou na conexão à Internet, inclusive ocasionado por ações indevidas por terceiros de softwares maliciosos, como vírus, cavalos de Tróia e outros que possam, de algum modo, danificar o equipamento ou a conexão dos Usuários em decorrência do acesso durante a utilização ou navegação na Plataforma, bem como a transferência de dados, arquivos, imagens, textos contidos neste;c) Navegação dos Usuários em links externos contidos na Plataforma, sendo dever do Usuário a leitura de eventuais Termos de Uso e Política de Privacidade do portal acessado e agir conforme o determinado;d) Verificar, controlar, aprovar ou garantir a adequação ou exatidão das informações ou dados disponibilizados em tais links, não sendo, portanto, responsável por prejuízos, perdas ou danos ocorridos pela visita a tais sites, cabendo ao interessado verificar a confiabilidade das informações e dados ali exibidos antes de tomar alguma decisão ou praticar algum ato;e) Disponibilidade integral e ininterrupta da Plataforma, cujo correto funcionamento depende do acesso e tráfego de dados entre terminais de computador dos Usuários e os servidores pertencentes ou contratados pela Dimittens, não possuindo nenhuma ingerência e não sendo responsável por eventuais falhas no tráfego desses dados e no acesso à Plataforma decorrentes de falhas na rede mundial de computadores ou da própria rede e serviços de telecomunicações prestados por provedores de acesso à Internet;f) Erros de sistemas que alterem dados ou informações dos serviços disponibilizados na Plataforma;g) Ressarcir seus Usuários por quaisquer gastos com ligações telefônicas, pacotes de dados, SMS, mensagens, e-mails, correspondência ou qualquer outro valor despendido pelo Usuário em razão de contato com a Vittude, Psicólogos  Usuários ou quaisquer outro terceiros, por qualquer motivo que seja.
                    Os Usuários não possuem qualquer direito para exigir a disponibilidade da Plataforma conforme melhor lhes convêm, tampouco poderão pleitear indenização ou reparação de danos em caso de a Plataforma permanecer fora do ar, independentemente da motivação.
                    A eventual remoção, bloqueio ou suspensão de qualquer Conteúdo ou funcionalidade da Plataforma em decorrência de alguma reclamação, deverá ser sempre compreendida como demonstração de boa-fé e intenção de solução amigável de conflitos, jamais como reconhecimento de culpa ou de qualquer infração pela Dimittens a direito de terceiro.
                    A Vittude se reserva no direito de auxiliar e cooperar com qualquer autoridade judicial ou órgão governamental, podendo enviar informações cadastrais de seus Usuários. </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Propriedade</h4> 
                <p>O uso comercial da expressão "Dimittens" como marca, nome empresarial ou nome de domínio; os Conteúdos das telas relativas à Plataforma; e os programas, bancos de dados, redes, arquivos que permitem que o Usuário acesse a Plataforma e use Sua Conta são todos de propriedade da Dimittens e estão protegidos pelas leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais. O uso indevido e a reprodução total ou parcial dos referidos itens são proibidos.
                    Todas as outras marcas comerciais, marcas de serviço, logotipos, nomes comerciais e quaisquer outras designações proprietárias são marcas comerciais ou marcas registradas de suas respectivas partes.
                    Desde que em conformidade com estes Termos, a Dimittens lhe concede uma licença limitada, não exclusiva e intransferível, para (i) acessar e visualizar qualquer Conteúdo da Vittude exclusivamente para fins pessoais e não comerciais e (ii) acessar e visualizar qualquer Conteúdo de Usuário para o qual você tem permissão de acesso, exclusivamente para fins pessoais e não comerciais. Você não tem direito de sublicenciar os direitos de licença concedidos nesta seção. Você se compromete a não usar, copiar, adaptar, modificar, preparar trabalhos derivados com base, distribuir, licenciar, vender, transferir, exibir publicamente, executar publicamente, transmitir ou explorar a Plataforma, Serviços ou Conteúdos, exceto se expressamente permitido nestes Termos. Você se compromete a não remover, alterar ou ocultar quaisquer direitos autorais, marca registrada, marca de serviço ou outros direitos de propriedade incorporadas ou acompanhando a Plataforma,
                    Qualquer intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito de propriedade intelectual e/ou as proibições estipuladas nestes Termos de Uso, tornarão o responsável passível das ações legais pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Vedações</h4> 
                <p>Fica vedada qualquer tentativa, direta ou indireta, bem-sucedida ou não, de realizar alguma das atividades listadas abaixo. A constatação de tal intento tornará o autor, bem como seus mandantes, defensores, encorajadores e ajudantes, passível das sanções previstas nestes Termos, das ações legais pertinentes e da responsabilidade de indenizar quaisquer partes afetadas por eventuais danos causados. Tais atividades incluem, mas não se limitam a: a) Incomodar, agredir, caluniar, injuriar, difamar, perseguir ou assediar qualquer outro Usuário ou Parceiros;b) Infringir os direitos de qualquer pessoa ou entidade, incluindo, sem limitação, os direitos de propriedade intelectual, privacidade, publicidade ou contratual;c) Copiar, armazenar, ou de qualquer forma acessar qualquer informação contida na Plataforma ou Serviços ou Conteúdos para fins que não sejam expressamente autorizados por estes Termos;d) Utilizar a Plataforma ou Serviços para transmitir, distribuir, publicar ou enviar qualquer informação relativa a qualquer outra pessoa ou entidade, incluindo, sem limitação, fotografias de outras pessoas sem sua permissão, informações de contato pessoal ou de crédito, débito, cartão telefônico ou números de contas;e) Manipular os valores ou quaisquer outras informações contidas na Plataforma ou Serviços;f) Utilizar a Plataforma ou Serviços para qualquer fim comercial ou para outros fins que não sejam expressamente autorizados por estes Termos;g) Interferir nas transações entre outros Usuários e/ou Psicólogos;h) Usar software manual ou automatizado, dispositivos, scripts robôs, ou outros meios ou processos para acessar, “scrape”, "crawler" ou “spider” qualquer parte da Plataforma, Serviços ou Conteúdos;i) Modificar, copiar, distribuir, transmitir, exibir, realizar, reproduzir, publicar, licenciar, criar trabalhos derivados, exibir em outra webpage, utilizar em qualquer outro website, transferir ou vender qualquer informação, software, listas de usuários, banco de dados ou outras listas, produtos ou serviços prestados por ou obtidos pela Dimittens, incluindo, mas não limitado a, práticas envolvendo “screen scraping”, “database scraping”, ou qualquer outra atividade com o propósito de obter listas de usuários ou outras informações;j) Usar scripts automatizados para coletar informações ou de outra forma interagir com a Plataforma ou Serviços;k) Acessar, testar, adulterar, interferir ou danificar a Plataforma ou qualquer sistema da Vittude, dos Usuários, dos Psicólogos ou de terceiros através do uso de vírus, cancelar bots, cavalos de Tróia, códigos nocivos, flood pings, ataques de negação de serviço, pacote ou falsificação de IP, roteamento forjado ou informações de endereço eletrônico ou métodos similares ou de tecnologia;l) Tentar detectar, varrer, ou testar a vulnerabilidade de qualquer sistema ou rede Dimittens ou violar qualquer segurança ou medidas de autenticação;m) Evitar, ignorar, remover, desativar, prejudicar, decodificar, ou evitar qualquer medida tecnológica implementada pela plataforma ou qualquer outro terceiro (incluindo outro Usuário) para proteger a Plataforma, Serviços ou Conteúdos;n) Forjar qualquer pacote de cabeçalho TCP/IP ou qualquer parte da informação do cabeçalho em qualquer publicação, e-mail ou newsgroup, ou de qualquer forma utilizar a Plataforma, Serviços ou Conteúdos para enviar fonte de identificação alterada, enganosa ou falsa informação;o) Sistematicamente recuperar dados ou outro Conteúdo da nossa Plataforma ou Serviços para criar ou compilar, direta ou indiretamente, em downloads únicos ou múltiplos, a coleta, compilação, banco de dados, diretório ou similar, seja por métodos manuais, através da utilização de bots, crawlers, ou spiders, ou de qualquer outra forma;p)Tentar decifrar, descompilar, desmontar ou fazer engenharia reversa de qualquer software usado para fornecer a Plataforma, Serviços ou Conteúdos; ouq)Personificar qualquer pessoa ou entidade, falsificar ou adulterar a si mesmo ou sua afiliação com qualquer pessoa ou entidade.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Senções</h4> 
                <p>Caso algum Usuário não cumpra qualquer dispositivo destes Termos e dos Termos Adicionais ou faça algo que prejudique a Plataforma, a Vittude, os Psicólogos ou outros Usuários, a Dimittens pode, a seu exclusivo critério, a qualquer momento e sem aviso ou consentimento prévio:
                    Suspender ou cancelar definitivamente a Conta do Usuário e todo e qualquer acesso de tal Usuário à Plataforma e aos Serviços. Tomar ações cabíveis para investigar e julgar violações de qualquer natureza em toda a extensão da lei, podendo envolver ou cooperar com autoridades judiciais e policiais.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Política de cancelameto de conta</h4> 
                <p>A Dimittens pode rescindir estes Termos, Contas de Usuários ou acesso dos Usuários à Plataforma e aos Serviços a qualquer momento, sem aviso ou consentimento prévios e a seu exclusivo critério. Nessa hipótese, a Vittude se compromete a tomar as providências cabíveis de forma a não prejudicar o Parceiro ou os Usuários.
                    O Usuário pode cancelar sua Conta da Dimittens na própria Plataforma, desde que não tenha nenhuma obrigação pendente em relação a Dimittens (planos) ou a Psicólogos, incluindo, mas não somente: (i) consultas em aberto com Usuários e (ii) saldos pendentes a serem resgatados.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Em caso de recição</h4> 
                <p>
                    a) o Usuário permanecerá responsável por todos os montantes devidos a Dimittens, a Psicólogos ou a terceiros;b) a Dimittens verificará eventuais valores que sejam legalmente devidos ao Usuário e lhes pagarão em tempo hábil;c) a Dimittens não assumirá nenhuma responsabilidade por valores devidos por Usuários aos Psicólogos.
                    Em caso de cancelamento de Sua Conta, a Dimittens não realizará imediatamente a exclusão ou devolução de qualquer Conteúdo que você tenha enviado para a Plataforma, incluindo, mas não limitado a quaisquer opiniões, comentários ou depoimentos, sendo respeitados os direitos de pedido de exclusão de dados pessoais, nos termos do presente Termos de Uso e da Política de Privacidade da Plataforma. A Dimittens mantém os dados pessoais dos Usuários e Psicólogos para atendimento às finalidades para as quais os recolhemos e para fins de cumprimento de obrigações legais e regulatórias.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Notificações</h4> 
                <p>Quaisquer notificações ou outras comunicações permitidas ou exigidas neste documento, incluindo as modificações em relação a estes Termos, serão por escrito e entregues pela Dimittens por postagem na Plataforma ou  via e-mail para o endereço de e-mail informado pelo Usuário em Sua Conta.
                Para avisos feitos por e-mail, a data de recebimento será considerada a data em que tal notificação foi transmitida.
                </p>
        </article>
        
        <article class="bloco-duvidas">
            <h4>Legislação aplicavel</h4> 
                <p>Todos os itens destes Termos são regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação, ao cumprimento ou a qualquer outro questionamento relacionado a estes Termos, as partes concordam e elegem, expressamente, o Foro Central da Comarca de São Paulo.
                </p>
        </article>

        <h2 class="subtitulo">Privacidade e Segurança</h2>

        <article class="bloco-duvidas">
            <h4>Política de Privacidade</h4> 
                <p>Por intermédio desta Política de Privacidade, a Dimittens apresenta aos Usuários e Psicólogos, as informações essenciais sobre a forma que os seus Dados Pessoais são utilizados e tratados.
                    A coleta, o uso e o compartilhamento dos Dados Pessoais dos Usuários e Psicólogos da Dimittenss estão sujeitos a esta Política de Privacidade e suas atualizações.
                    Para contato, envie um e-mail para contato@dimittens.com.br
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Objetivo da política</h4> 
                <p>A Dimittens toma as medidas que estão ao seu alcance para proteger a privacidade do Usuário e Psicólogo, em atendimento à legislação em vigor. Esta Política de Privacidade detalha a forma que a nós realizamos a coleta, guarda, utilização, compartilhamento e divulgação dos Dados Pessoais dos Usuários e Psicólogos, bem como aponta as medidas tomadas para assegurar a proteção dos dados coletados.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Momento de coleta de dados</h4> 
                <p>Os Dados Pessoais são coletados quando inseridos ou submetidos voluntariamente pelos Usuários ou Psicólogos, no cadastro, login e por meio de cookies, a Política de Cookies está disponível na Plataforma.
                    Podemos utilizar outras tecnologias para coletar os dados de navegação de nossos Usuários e dos Psicólogos, o que inclui, mas não se limita a cookies, Web beacons e recursos em JavaScript. No entanto, tais tecnologias respeitarão os termos desta Política de Privacidade, demais políticas aplicáveis e as opções de nosso Usuário e de nosso Psicólogo referente ao tratamento dos dados
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Dados pessoais coletados</h4> 
                <p>Dados Pessoais dos Psicólogos e Usuários coletados pela Dimittens no cadastro: a) Nome; b) CPF; c) RG; d) Data de nascimento; f) Endereço de e-mail; g) Telefone para contato; h) Links e botões clicados na Plataforma pelo Usuário; e i) Foto para cadastro e identificação no caso dos Psicólogos.
                    A Dimittens poderá ser contratada por empresas parceiras que possuem interesse em oferecer os serviços disponibilizados na Plataforma como benefício aos seus funcionários, colaboradores, diretores e outros. Nesses casos, a Parceira poderá solicitar que realize a solicitação e coleta de outros Dados Pessoais ou informações dos Usuários, inclusive informações relacionadas a função e atividades desempenhadas pelo Usuário na empresa Parceira.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Dado pessoais sensiveis coletados</h4> 
                <p>Os Usuários entendem, compreendem e aceitam que as pesquisas individuais promovidas pela Vittude, possuem como principal objetivo viabilizar o acompanhamento da evolução do seu processo psicoterapêutico pela Vittude.
                    As pesquisas são realizadas por meio da coleta de informações individuais baseadas nas percepções dos Usuários e imputadas na Plataforma. Os Usuários devem responder com informações verídicas e fidedignas à realidade, compreendendo que os resultados serão baseados única e exclusivamente nestas. Os Usuários podem optar por fornecer Dados Pessoais considerados sensíveis de forma indireta, como por exemplo, informações sobre sintomas ou sensações relacionados a alguma condição específica.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Responsabilidade da Dimittens</h4> 
                <p>A Dimittens não é responsável pela veracidade ou falta dela nas informações prestadas pelos Usuário e/ou Psicólogos, bem como pela sua desatualização, sendo de responsabilidade única e exclusiva destes prestá-las com exatidão ou atualizá-las.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Responsabilidade do Psicólogo</h4> 
                <p>O Psicólogo é responsável pela guarda e coleta dos Prontuários, conforme disposições do Código de Ética do Psicólogo do Conselho Federal de Psicologia (CFP). nas condições descritas na Plataforma e no Termos de Uso, o Psicólogo será o único e exclusivo responsável pelo sigilo, segurança e armazenamento das informações, documentos e/ou relatórios dos Usuários, comprometendo-se a mantê-los protegidos por, no mínimo 5 (cinco) anos, conforme determinação do CFP, sendo ainda responsável pelas indenizações por eventuais danos causados.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Finalidade da coleta de dados pessoais dos clientes e psicólogos</h4> 
                <p>A Dimittens coleta Dados Pessoais de Usuários e Psicólogos com as seguintes finalidades:   
                    a) Identificá-los adequadamente na Plataforma; b) Prestar os serviços e cumprir as obrigações descritas no Termos de Uso; c) Atender adequadamente as solicitações e dúvidas dos Usuários e dos Psicólogos; d) Manter atualizados os cadastros dos Usuários e Psicólogos para fins de contato por telefone, aplicativos de comunicação instantânea, correio eletrônico, SMS, ou por outros meios de comunicação; e) Promover os nossos serviços e produtos, informar sobre novidades, funcionalidades, conteúdos, notícias e demais eventos relevantes. Somente serão enviados e-mails de relacionamento aos Usuários e Psicólogos que optarem por recebê-los. O Usuário poderá solicitar o cancelamento do recebimento destas correspondências; f) Nos resguardar de direitos e obrigações relacionadas ao uso da nossa Plataforma; g) Colaborar e/ou cumprir ordem judicial ou requisição por autoridade administrativa; h) Para o exercício e defesa de quaisquer direitos da Vittude, ao seu critério, incluindo no âmbito de processos judiciais ou administrativos; i) Colaborar com órgãos, autoridades e demais entes do poder público, bem como a pessoas físicas ou jurídicas de natureza privada, em cumprimento de obrigação legal ou de ordem judicial; j) Colaborar com órgãos, autoridades e demais entes do poder público, para o atendimento da legislação e regulamentação aplicáveis a Plataforma ou serviços prestados pela Vittude; k) Aperfeiçoar o uso e experiência de navegação das nossas Plataformas; l) Efetuar estatísticas, estudos, pesquisas e levantamentos pertinentes às atividades de seus comportamentos ao utilizarem a Plataforma, para a manutenção do relacionamento com os Usuários e Psicólogos; m) Compartilhar os dados coletados com prestadores de serviços para manutenção e aprimoramento da nossa Plataforma, produtos e serviços, conforme descritos abaixo nessa Política; n) Viabilizar pesquisas individuais relacionadas à saúde mental e/ou acompanhamento do processo psicoterapêutico do Usuário; e o) Para tutela da saúde.
                    Desde já o Usuário e o Psicólogo declaram-se cientes de que podemos realizar o agrupamento e organização dos dados pessoais e informações em nossa base, a partir das informações e Dados Pessoais inseridos em nossa Plataforma.
                    O uso, acesso e compartilhamento dos Dados Pessoais coletados pela Dimittens quando necessários, serão feitos dentro dos limites e propósitos dos negócios, podendo ser disponibilizada para consulta e cedidas aos Psicólogos, fornecedores e autoridades, desde que obedecido ao disposto na presente Política de Privacidade.
                    Temos parceiros comerciais que podem oferecer serviços por meio de funcionalidades ou sites acessados a partir das nossas Plataformas. Os dados fornecidos pelo Usuário e pelos Psicólogos a estes parceiros serão de responsabilidade destes, estando assim sujeitos às suas próprias práticas de coleta e uso de dados, sem que caiba qualquer ônus à Dimittens pelo tratamento de tais informações. Caso ocorra alguma mudança nas finalidades para as quais utilizamos os dados dos Usuários ou Psicólogos, estes serão notificados, nos termos descritos na presente Política de Privacidade.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Compartilhamento e divulgação dos dados pessoais</h4> 
                <p>Para execução das finalidades descritas acima e funcionamento da Plataforma, quando necessários, a Dimittens compartilhara Dados Pessoais de seus Usuários e Psicólogos com prestadores de serviços, parceiros, órgãos reguladores ou autoridades judiciais. Enfatizamos que não comercializamos Dados Pessoais.
                    O compartilhamento acontece para as seguintes finalidades:(i) intermediação de pagamentos; (ii) serviços de suporte e atendimento; (iii) serviços de envio de comunicação e gerenciamento de marketing para Usuários e Psicólogos; (iv) serviços de engajamento com os Usuários e Psicólogos; (v) armazenamento em nuvem da base de dados da Dimittens.
                    Em alguns casos especiais, como, por exemplo, situações de emergência ou em razão de solicitação da Parceira, a Dimittens poderá ser obrigada a fornecer dados pessoais e sensíveis dos Usuários ao Responsável Técnico da Parceira ou da própria Vittude. Lembramos que nestes casos, estes profissionais possuem o dever de manter sigilo profissional.
                    A Dimittens também poderá realizar o compartilhamento dos Dados Pessoais com autoridades judiciais, policiais ou governamentais, nos seguintes casos: ordens ou solicitações judiciais, solicitações administrativas ou em razão de obrigações legais ou regulatórias.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Segurança dos dados</h4> 
                <p>A Vittude recomenda que os Usuários e Psicólogos mantenham suas senhas de acesso da Plataforma sob total sigilo, evitando a sua divulgação a terceiros. No caso de suspeita de violação de Dados Pessoais, a Vittude se compromete a notificar os Usuários e Psicólogos e que possam ter sido afetados e a rastrear todas as atividades realizadas no último período desde a última suspeita.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Retenção e exclusão de dados</h4> 
                <p>A Dimittens mantém os Dados Pessoais dos Usuários e Psicólogos para atendimento às finalidades descritas nesta Política e para fins de cumprimento de obrigações legais e regulatórias.
                    O Usuário ou Psicólogo pode solicitar a exibição, retificação ou ratificação de seus Dados Pessoais, por meio das ferramentas de atendimento disponibilizadas pela plataforma. Caso deseje solicitar a exclusão de seus Dados Pessoais coletados e registrados pela Dimittens, poderá, ainda, entrar em contato através do e-mail contato@dimittens.com.br
                    Os Usuários e Psicólogos que solicitarem a exclusão de suas informações, terão o seu pedido avaliado por nós.
                    Esclarecemos, desde já, que em algumas situações não será possível realizar a exclusão integral de dados, tendo em vista que a Dimittens precisa cumprir com suas obrigações legais e regulatórias, como por exemplo nos casos de contratação eletrônica de serviços e emissões de notas fiscais vinculadas aos dados de registro da pessoa física ou jurídica.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Alterações e modificações dets política</h4> 
                <p>Podemos alterar o teor desta Política de Privacidade a qualquer momento, conforme a finalidade ou necessidade, tal qual para adequação e conformidade legal de disposição de lei ou norma que tenha força jurídica equivalente, sendo que o Usuário será notificado no próximo acesso à Plataforma.
                    Ao continuar a utilizar os serviços disponíveis na Plataforma após a data em que uma alteração entrar em vigor, consideraremos que o Usuário compreendeu e aceitou integralmente as condições dispostas na Política.
                </p>
        </article>

        <article class="bloco-duvidas">
            <h4>Legislação aplicavel </h4> 
                <p>Todos os itens desta Política são regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação, ao cumprimento ou a qualquer outro questionamento relacionado a estes Termos, as partes concordam em se submeter ao Foro da Comarca de São Paulo.
                </p>
        </article>
    </main>
    <%- include("../partial/passoapasso") %>
    <%- include("../partial/passoapassopsico") %>
    <article class="bloco-duvidas" id="atendimento-denuncias">
        <h2>Canal de atendimento e Denúncias</h2> 
        <p>A Dimittens fornece a seus Usuários e Psicólogos um canal de atendimento para críticas, sugestões, denúncias e demais reclamações que o Usuário e/ou Psicólogo entenda cabível diretamente em sua Plataforma por meio dos canais de atendimento disponíveis no seguinte endereço: contato@dimittens.com.  Ao utilizar este canal, o Usuário ou Psicólogo deverá se identificar com os dados pertinentes (nome completo, número de telefone e e-mail) e descrever a situação detalhadamente, a fim de que verifique eventuais medidas cabíveis previstas nestes Termos.
        </p>
        <ul class="info-duvidas" id="duvidas-atendi">
            <li>Na hipótese de um Usuário considerar que existem informações, fatos ou circunstâncias que constituem atividade ilícita ou contrária aos presentes Termos de Uso na plataforma Dimittens, deverá efetuar denúncia do conteúdo, através do e-mail contato@dimittens.com.br. contendo todas as informações necessárias para que a administração da Fepo tome as medidas cabíveis.</li>
            <li>O contato para Denúncia poderá ser usado sempre que o Usuário paciente encontre algum conteúdo ou atividade que viole os presentes Termos de Uso ou a legislação brasileira.</li>
            <li>Caso haja denúncia, faremos o possível para corrigir o erro.</li>
        </ul>
    </article>
    <%- include("../partial/rodape") %>
</body>
</html>