    <title>Salvos Psicólogos</title>
    <link rel="stylesheet" href="css/salvos-psic.css">
</head>
<body>
    <article>
        <section class="text">
            <h1>Salvos</h1>
        </section>
        <section class="salvos">
        </section>
    </article>
</body>
</html>