
    <title>Sobre nós</title>
    <link rel="stylesheet" href="css/sobrenos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
       <% if (autenticado) { %>
              <%- include("../partial/header") %>
      <% } else { %>
              <%- include("../partial/headerunlogged") %>
      <% } %>
    <main class="box">
        <article class="infos-gerais">
               <h1>Tudo sobre a Dimittens</h1>
               <article class="linha">
                      <hr>
               </article>
               <h2 class="subtit">Nossa História</h2>
               <p>A Dimittens foi pensada e desenvolvida por estudantes do ensino médio com o intuito de ajudar pessoas que sofrem com transtornos psicológicos, criando um ambiente em que eles possam se consultar com os profissionais do site e trocarem experiências com outras pessoas relacionadas aos seus problemas.</p> <br>
                   <p>A ideia inicial foi ser um site de terapias online e apenas isso, algo semelhante a você entrar no site e agendar uma consulta por mensagem com um profissional especializado, porém com a ideia de fazermos um projeto que possua uma rede de apoio entre clientes para clientes, decidimos desenvolver novas ideias, como os tipos de terapia e a comunidade dentro do site.</p>
               <h2 class="subtit">O que é Dimittens</h2>
               <p>A Dimittens é uma plataforma de suporte à saúde mental, que surge como uma resposta dinâmica às necessidades escassas de ajuda nesse âmbito, visa oferecer um ambiente acessível,<br>
                   acolhedor e personalizado para cada indivíduo que busca apoio emocional, desde serviços de chat, e consultas com profissionais de saúde mental até uma comunidade de apoio interativa, além do cuidado para criar uma experiência única, e eficaz no impacto à saúde mental, contribuindo para a inovação no cenário de serviços online.</p>
               
                  <p>Realizamos pesquisas que comprovam essa escassez de serviços e de plataformas relacionadas a saúde mental, gerando assim a necessidade dos meios que nós disponibilizamos <br>
                   para essas pessoas. Além dessas pesquisas, fizemos o levantamento do nosso público-alvo para desenvolvermos estratégias de fidelização e posicionamento no mercado, utilizando então meios que facilitem o mecanismo de busca para encontrarem nossa plataforma, buscamos também a atividade em redes sociais para criar um contato direto do público-alvo para conosco, junto de benefícios que o usuário obtém em nossos planos premium, portanto a Dimittens
                   realiza um apoio para os usuários e se encaixam em suas necessidades.</p>
               
                  <p>Em suma, o projeto atende e ultrapassa as expectativas e necessidades dos usuários
                   com soluções inovadoras, proporcionando um ambiente que capacita a melhora dos
                   problemas enfrentados dos usuários.</p>
               <h2 class="subtit">Motivação e Pesquisas</h2>
               <p>De acordo com pesquisas realizadas, a crescente complexidade do mundo moderno não apenas testa nossos limites, mas também expõe uma realidade preocupante. A pandemia da COVID-19, lançou uma luz ainda mais intensa sobre a fragilidade do bem-estar. Isolamento, incertezas e perdas tornaram-se elementos do cotidiano, tendo como consequência desafios ainda maiores. Nesse contexto, a busca por ajuda, muitas vezes, revelase uma jornada árdua, devido à escassez de serviços acessíveis e pela relutância por parte de muitos em reconhecer e enfrentar suas dificuldades. As pessoas que sofrem silenciosamente com questões psicológicas, enfrentam uma série de obstáculos, desde a estigmatização social até a falta de recursos adequados. Muitas hesitam em procurar ajuda, seja por desconhecimento ou receio, em contrapartida temos a trajetória daqueles que decidem buscar ajuda e na maioria das vezes se deparam com barreiras estruturais e burocráticas que, por vezes, podem tornar a jornada ainda mais difícil, e até mesmo causar a desistência desta minoria. Os tipos de terapias na plataforma oferecem diversidade de tratamentos para o que cada individuo necessitar, possibilitando uma chance maior de interesse em se tratar corretamente.</p>
                   <p>A necessidade de dar atenção à saúde mental das pessoas de todo o mundo, tem sido uma das preocupações da OMS (Organização Mundial da Saúde) que estabeleceu um Plano de ação integral em 2013 até 2030, que cria metas globais para transformar a saúde. Porém, essa mudança está acontecendo de forma lenta, devido a negligência que resulta no aumento de pessoas com transtornos psicológicos, que ocasionou o aumento de 25% da ansiedade e depressão sofrida pelas pessoas depois da pandemia, sendo duas das cinco doenças que mais afetam a população mundial, como a depressão, tendo 300 milhões de pessoas afetadas no mundo todo.</p>
               
                   <p>
                          Um levantamento aponta que quase 1 bilhão de pessoas no mundo todo sofrem de algum tipo de transtorno psicológico, reforçando a importância de projetos como a Dimittens. Ademais, temos a falta de acesso e interesse das pessoas à tratamento de transtornos mentais, já que apenas 5% das pessoas no Brasil realizam psicoterapia segundo a pesquisa do Instituto Cactus intitulada de Panorama da Saúde Mental, devido a isso, terapias online tem crescido durante e após a pandemia, onde a população tem mostrado interesse em se consultar de forma remota, já que para muitos pacientes é difícil se abrir com os psicólogos
                          presencialmente. <br>
                          Isso apresenta a importância do Calendário Emocional e as Notas que nós oferecemos em nossa plataforma, visando auxiliar o profissional a entender os seus pacientes, fazendo também com que o paciente desenvolva em sua vida, um hábito que melhora a saúde física e mental, o Calendário facilita a expressão das emoções do paciente, que agora pode se expressar com mais clareza.
                   </p>
               
                   <p>
                          Nos chats, a ênfase está em criar mais do que meros meios de comunicação, mas sim
                          uma conexão imediata a fim de quebrar essa barreira entre quem precisa de ajuda e quem está
                          disposto a ajudar.
                   </p>
               
                   <p>
                          As comunidades foram construídas para compartilhar experiências e tirar dúvidas
                          com pessoas que já passaram por situações semelhantes, foram integrados para promover a
                          interação entre os membros, criando uma cultura de apoio e resiliência emocional.
                   </p>
               
                  <p>As consultas foram destinadas para ir além da orientação convencional., a plataforma foi desenvolvida com flexibilidade para se adaptar às necessidades individuais, transformando cada consulta em uma oportunidade para oferecer cuidado personalizado e soluções práticas, em um artigo da Revista Educação em Questão, é apontado o problema da falta de estrutura na formação de uma família, a ausência de papéis definidos na família desenfreia problemas em toda ela, logo, nossa terapia familiar foi pensada justamente para essas famílias que necessitam de ajuda para enfrentar tais situações; assim como as terapias em grupo, ou popularmente conhecidas como ‘Rodas de conversa”, podem ser uma nova abordagem para usuários que busquem ou necessitem um apoio mais sociável, elas proporcionam a integração entre os participantes e a partilha de sentimentos, opiniões e discussões. As terapias infantis também são de suma importância dentro das consultas com profissionais especializados, já que crianças tem enfrentado problemas psicológicos desde a infância até o início e término da puberdade.</p>
        </article>
        <article class="metricas-caixa">
              <h2 class="metricas-titulo">Nossas Métricas</h2>
              <section class="metricas">
                     <section class="metricas-box">
                            <h3 class="num-metri">150 Milhões de</h3>
                            <h3 class="info-metri">usuários ativos por mês</h3>
                     </section>
                     <section class="metricas-box">
                            <h3 class="num-metri" id="num-meio">10 Milhões de</h3>
                            <h3 class="info-metri">comunidades ativas por semana</h3>
                     </section>
                     <section class="metricas-box">
                            <h3 class="num-metri">150 Milhões de</h3>
                            <h3 class="info-metri">consultas diarias na plataforma</h3>
                     </section>
              </section>
        </article>
        <h2 class="como-funciona">Como a Dimittens funciona?</h2>
        <article class="box-funciona">
              <section class="caixa">
                     <section class="icone-titulo">
                            <i class="fa-solid fa-puzzle-piece"></i>
                            <h3>Consultas</h3>
                     </section>
                     <p class="p-cmf">A Dimittens oferece consultas online com psicólogos qualificados, permitindo que você receba atendimento especializado de forma prática e segura. </p>
              </section>
              <section class="caixa">
                     <section class="icone-titulo">
                            <i class="fa-regular fa-comment-dots"></i>
                            <h3>Chat</h3>
                     </section>
                     <p class="p-cmf">Nosso chat é uma ferramenta que permite conversar em tempo real com profissionais da plataforma, onde você pode tirar dúvidas, e receber apoio imediato, tudo dentro de um ambiente seguro e acolhedor.</p>
              </section>
              <section class="caixa">
                     <section class="icone-titulo">
                            <i class="fa-solid fa-people-group"></i>
                            <h3>Comunidade</h3>
                     </section>
                     <p class="p-cmf">Espaço onde os usuários podem compartilhar suas experiências, trocar conselhos, e encontrar apoio emocional.
                            Conecte-se com pessoas que estão passando por desafios semelhantes, participando de discussões e postando suas reflexões.</p>
              </section>
              <section class="caixa">
                     <section class="icone-titulo">
                            <i class="fa-solid fa-calendar-days"></i>
                            <h3>Calendário</h3>
                     </section>
                     <p class="p-cmf">Ferramenta prática para agendar suas consultas e registrar como se sente diariamente. Ele ajuda a organizar sua rotina, e garante que você não perca nenhum compromisso importante com sua saúde mental.</p>
              </section>
        </article>

        <article class="sharepoint">
              <h2 class="shrpoint-tit">Share Point</h2>
              <p class="p-shrpoint">Explore nosso <a href="https://fiebedu.sharepoint.com/:u:/r/sites/DIMITTENS3.0/SitePages/ITHelpdeskHome.aspx?csf=1&web=1&share=ERiMpQ4LjONFl2JwJjd3XVsB2gMvLMx6dMQHItFB19Gd6Q&e=pS4JOX">SharePoint</a> e acompanhe a evolução da Dimittens ao longo dos últimos três anos. Nele, você encontrará informações detalhadas sobre nossos marcos, <br> inovações e crescimento. É uma excelente oportunidade para entender melhor nossa trajetória e o impacto que temos gerado. Visite e fique por dentro de tudo o que <br> alcançamos!</p>
              <section class="logo-box">
                     <img src="imagens/logo-roxo.png" alt="">
                     <h3>DIMITTENS</h3>
              </section>
        </article>
    </main>
    <%- include("../partial/rodape") %>
</body>
</html>