
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/transtornos.css">
</head>
<body>
    <%- include("../partial/headerunlogged") %>
    <main>
        <h1 class="titulo">Como Funciona a Terapia</h1>
        <article class="box-cmfterapia">
            <section class="box-circulo-quadrado">
                <section class="circulo">01</section>
                <section class="quadrado">
                    <p>O psicólogo te ajuda a identificar padrões e comportamentos que alimentam a ansiedade.</p>
                </section>
            </section>

            <section class="box-circulo-quadrado">
                <section class="circulo">02</section>
                <section class="quadrado">
                    <p>Juntos, vocês trabalharão para a criação de alternativas mais saudáveis e realistas.</p>
                </section>
            </section>

            <section class="box-circulo-quadrado">
                <section class="circulo">03</section>
                <section class="quadrado">
                    <p>Você aprenderá técnicas pra lidar com os desafios e saberá como controlar a ansiedade.</p>
                </section>
            </section>
        </article>
        
        <h1 class ="titulo">Tipos de Transtornos de Ansiedade</h1>
        
        <article class="box-ttansiedade">
            <section class="box-ttansiedades"> 
                    <select class="retangulo">Ansiedade
                        <option>
                            <h2>Ansiedade</h2> <br>
                            <p>É uma sensação difusa de desconforto, um desagradável sentimento de apreensão frequentemente acompanhado por tensão, 
                                antecipação de <br> cenários de riscos, muitas vezes irreais, e diferentes manifestações físicas
                                No entanto, quando a ansiedade é intensa, surge sem motivo aparente e atrapalha as tarefas diárias, pode indicar um transtorno
                                 de ansiedade como o transtorno de ansiedade generalizada, transtorno de pânico ou fobia.</p>
                        </option>
                    </select>
                    <select class="retangulo">Transtorno Obsessivo Compulsivo (TOC)
                        <option value="">
                            <h2>Transtorno Obsessivo Compulsivo (TOC)</h2>
                            <P>Transtorno caracterizado por ideias obsessivas e comportamentos compulsivos recorrentes.
                                 As ideias obsessivas são pensamentos repetitivos e indesejados que invadem a consciência do indivíduo mesmo quando há esforço para resistir, o que causa grande perturbação.
                                 As compulsões são rituais repetitivos que o indivíduo sente necessidade de realizar para prevenir eventos improváveis, muitas vezes relacionados a medos irracionais de dano.
                                 Essas ações não trazem prazer nem utilidade, e o indivíduo reconhece sua irracionalidade, mas sente ansiedade intensa, especialmente ao tentar resistir às compulsões.</P>
                        </option>
                    </select>
                    <select class="retangulo">Transtornos Fóbicos-Ansiosos
                        <option value="">
                            <h2>Transtornos Fóbicos-Ansiosos</h2>
                            <p>O grupo de transtornos fóbico-ansiosos é caracterizado por uma ansiedade desencadeada por situações específicas que não apresentam perigo real, 
                                mas que são evitadas ou enfrentadas com grande temor.
                                Os sintomas podem incluir palpitações e sensação de desmaio, frequentemente acompanhados por medo de morrer, perder o autocontrole ou enlouquecer.
                                 A simples evocação dessas situações pode gerar ansiedade antecipatória.
                                A ansiedade fóbica muitas vezes se associa a depressão, sendo crucial determinar a ordem de ocorrência dos transtornos para um diagnóstico e tratamento adequados.</p>
                        </option>
                    </select>
                    <select class="retangulo">Fobias Específicas
                        <option value="">
                            <h2>Fobias Específicas</h2>
                            <p>As fobias específicas são medos intensos relacionados a situações específicas,
                                 como proximidade de certos animais, altura, trovões, escuridão, viajar de avião, espaços fechados, uso de banheiros públicos, ingestão de certos alimentos,
                                 cuidados odontológicos e ver sangue ou ferimentos.
                                Mesmo sendo situações inofensivas, o contato pode desencadear pânico, similar à agorafobia ou fobia social.</p>
                        </option>
                    </select>
            </section>

            <section class="box-ttansiedades2">
                <select class="retangulo">Transtorno de Estresse Pós-Traumatico (TEPT)
                    <option value="">
                        <h2>Transtorno de Estresse Pós-Tramático (TEPT)</h2>
                        <p>O estado de estresse pós-traumático é uma resposta atrasada ou prolongada a eventos de natureza ameaçadora ou catastrófica. 
                            Os sintomas típicos incluem revivência repetida do evento traumático por meio de "flashbacks", 
                            sonhos ou pesadelos e ocorrem em um contexto de anestesia psíquica, embotamento emocional, retraimento social, insensibilidade ao ambiente,
                            nedonia e evitação de lembranças do trauma.
                            Os sintomas precedentes geralmente incluem hiperatividade neurovegetativa, hipervigilância, estado de alerta e insônia, 
                            associados frequentemente a ansiedade, depressão ou ideação suicida.</p>
                    </option>
                </select>
                <select class="retangulo">Síndrome do Panico
                    <option value="">
                        <h2>Síndrome do Panico</h2>
                        <p>A característica principal da síndrome do pânico é a ocorrência de ataques recorrentes de ansiedade intensa e grave, conhecidos como ataques de pânico,
                            que são imprevisíveis e não vinculados a situações específicas.
                            Esses ataques incluem sintomas como palpitações, dores no peito, sensação de asfixia, tontura e sentimentos de irrealidade
                            (despersonalização ou desrealização). Frequentemente, há um medo secundário de morrer, perder o controle ou enlouquecer.
                            É importante diferenciar ataques de pânico de transtornos depressivos, pois, nesses casos, os ataques podem ser secundários à depressão.</p>
                    </option>
                </select>
                <select class="retangulo">Agorafobia
                    <option value="">
                        <h2>Agorafobia</h2>
                        <p>Agorafobia é caracterizada pelo medo de sair de casa, frequentar lojas, estar em multidões e locais públicos ou viajar sozinho em trens, ônibus ou aviões.
                            Muitas vezes, está associado a transtornos de pânico, sintomas depressivos ou obsessivos e fobias sociais.
                            Indivíduos com agorafobia geralmente evitam situações que desencadeiam o medo, o que pode reduzir a ansiedade percebida.
                            Esses comportamentos de evitação são uma característica comum e proeminente do transtorno.</p>
                    </option>
                </select>
                <select class="retangulo">Reação Aguda ao Estresse
                    <option value="">
                        <h2>Reação Aguda ao Estresse</h2>
                        <p>
                            A gravidade depende da vulnerabilidade individual e da capacidade de enfrentar o trauma.
                            Os sintomas iniciais incluem aturdimento caracterizado por um certo estreitamento da consciência, dificuldade de atenção ou
                            de integrar estímulos e desorientação. Esse estado pode ser seguido por distanciamento ou agitação com hiperatividade (reação de fuga).
                            Sintomas neurovegetativos de uma ansiedade de pânico (taquicardia, sudorese e ondas de calor) são comuns. 
                            Os sintomas surgem minutos após o evento estressante e podem causar amnésia parcial ou completa do episódio.</p>
                    </option>
                </select>
            </section>
        </article>

        <h1 class="titulo">Informações Úteis</h1>
        <article class="box-informacoes">
            <h1>Vantagens de Fazer Terapia para Ansiedade</h1>
            <section> 
                <section>
                    <i class="fa-regular fa-hourglass"></i>
                    <p>A duração de cada sessão com o psicólogo é definida de acordo com ele.</p>
                </section>
                <section>
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p>Não atendemos via convênio, mas você pode solicitar o reembolso de psicoterapia ao seu convênio.</p>
                </section>
                <section>
                    <i class="fa-solid fa-user"></i>
                    <p>Atendemos pessoas a partir de nove anos. É necessária autorização dos responsáveis para menores de 18 anos.</p>
                </section>
                <section>
                    <i class="fa-solid fa-shield-halved"></i>
                    <p>Todas as informações transmitidas pelo paciente durante a sessão são mantidas em sigilo.</p>
                </section>
            </section>
        </article>
        <article> </article>
        <%- include("../partial/rodape") %></article>

    </main>
</body>
</html>